<div class="detail" *ngIf="detail">
	<div *ngIf="!options['disableActionButtons']"><%_ include ../../../schema-detail.d.actions.html %></div>
	<div class="card text-left transparent-border " [ngStyle]="style['card']">
	  <div class="grid-fields">
		<div class="card-body" [ngStyle]="style['card-body']"><%_{
			let view='detail';
			let field = detailView[0]; let fn = field.fieldName; let ft = field.type;
			let fieldObj = {field, fn, ft, ref_link: true,};%>
			<div>
			  <%- include(`/ui/${uiFramework}/${uiDesign}/schema-display.field.html`, fieldObj); %>
			</div><%_ }%>
		</div>
	  </div>
	</div>
	<%_ include ../../../schema-detail.d.pipeline.html %>
    <%_ include ../../../schema-detail.d.ref.html %>
</div>
