<button type="button" class="btn btn-outline-primary" (click)="buttonClicked()">Send Email</button>

<div *ngIf="showDialog" class="modal-back">
    <div class="modal-front">
        <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
            <div *ngIf="emailFields.length > 0" class="form-group">
                <label>Send emails to the following email recipients:</label>
                <div class="email-recipients">
                    <label  class="radio-checkbox" *ngFor="let control of ec; let i=index">
                        <input type="checkbox" [formControl]="control">
                        <span>{{emailFields[i][0]}}</span>
                    </label>
                </div>
                <div *ngIf="submitted && f.emailFields.errors" class="invalid-feedback">
                    <div *ngIf="f.emailFields.errors.required">Please select the email recipients.</div>
                </div>
            </div>
            <div class="form-group">
                <label>How do you want to enter the email content?</label>
                <div>
                    <label class="radio-checkbox">
                        <input type="radio" value="template" formControlName="emailInput">
                        <span>From Email Template</span>
                    </label>
                    <label class="radio-checkbox">
                        <input type="radio" value="compose" formControlName="emailInput">
                        <span>Compose Email Now</span>
                    </label>
                </div>
            </div>
            <hr/>
            <div *ngIf="showTemplate" class="form-group input-group">
                <label for="emailTemplate">Email Template Tag</label>
                <input type="text" formControlName="emailTemplate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.emailTemplate.errors }" />
                <div *ngIf="submitted && f.emailTemplate.errors" class="invalid-feedback">
                    <div *ngIf="f.emailTemplate.errors.required">Please enter an email template tag</div>
                </div>
            </div>
            <div *ngIf="!showTemplate">
                <div class="form-group input-group">
                    <label for="subject">Email Subject</label>
                    <input type="text" formControlName="subject" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.subject.errors }" />
                    <div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
                        <div *ngIf="f.subject.errors.required">Please enter the email subject</div>
                    </div>
                </div>


                <div class="form-group input-group">
                    <label for="content">Email Content</label>
                    <!--
                    <input type="text" formControlName="content"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.content.errors }"/>-->

                    <lib-richtext-editor formControlName="content"  class="mdds-richtext-editor-content" 
                        [ngClass]="{ 'is-invalid': submitted && f.content.errors }"></lib-richtext-editor>

                    <div *ngIf="submitted && f.content.errors" class="invalid-feedback">
                        <div *ngIf="f.content.errors.required">Please enter the email content</div>
                    </div>
                </div>
            </div>

            <div class="form-group action-buttons-center">
                <button class="btn btn-success">Submit</button>
                <button class="btn btn-outline-success" type="button" (click)="cancel()" >Cancel</button>
            </div>

        </form>
    </div>
</div>
