.auth-icon-container {
	
}

.auth-icon {
	margin-left: auto;
	margin-right: auto;
	
	background-color: rgb(170, 170, 170);
/*    height: 3rem;
    width: 3rem; */
    height: 2.5rem;
    width: 2.5rem;
    
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.auth-icon-active {
	background-color: rgb(90, 160, 70);
}

.icon-text {
    /*font-size: 1.8rem;*/
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.auth-icon:hover {
	background-color: rgb(200, 200, 200);
}

.auth-icon-active:hover {
	background-color: rgb(120, 170, 110);
}

.auth-icon-pop {
	position: absolute;
	z-index: 10;	
}

.auth-icon-pop {
	position: absolute;
	z-index: 10;	
}

.pop-menu-container {
	position: relative;
	display: block;
}

.login-name {
	width: 100%;
	font-style: italic;
	text-align: center;
}