<%-include('/schema-list-view.component.css') %>

.table-wrapper {
  overflow-x: scroll;
}

.table-wrapper table {
  table-layout: auto;
  margin-top: 0.5rem;
}

.table-picture-cell {
  width: 8rem;
  height: 8rem;
}
