<%
	let clickToDetail = api.includes('R') && listToDetail === 'click';
	let cardHasLink = api.includes('R') && listToDetail === 'link';

	let clickToCheck = false;

	let canUpdate = api.includes('U');
	let canDelete = api.includes('D');
	let canArchive = api.includes('A');
	let canCheck = api.includes('D') || api.includes('A');

	let embeddedEdit = false;
	let includeSubDetail = false;

	let listviewObj = {
		clickToDetail, cardHasLink, clickToCheck,
		canUpdate, canDelete, canArchive, canCheck,
		includeSubDetail, embeddedEdit,
	};

	let view='list';
	
	for (const lt of listTypes) {
		let viewType = lt[0];
		if (viewType === 'list') {%><%-
			include(`/ui/${uiFramework}/${uiDesign}/schema-list.view.list.html`, listviewObj); %><%
		}
		if (viewType === 'grid') {%><%-
			include(`/ui/${uiFramework}/${uiDesign}/schema-list.view.grid.html`, listviewObj); %><%
		}
		if (viewType === 'table') {%><%-
			include(`/ui/${uiFramework}/${uiDesign}/schema-list.view.table.html`, listviewObj); %><%
		}
	} %>
