<%
	let cardCanClick = api.includes('R') && listToDetail === 'click';
	let clickToDetail = api.includes('R') && listToDetail === 'click';
	let cardHasLink = api.includes('R') && listToDetail === 'link';

	let clickToCheck = false;

	let canUpdate = api.includes('U');
	let canDelete = api.includes('D');
	let canArchive = api.includes('A');
	let canCheck = api.includes('D') || api.includes('A');

	let embeddedEdit = false;

	let view='list';
	
	for (const lt of listTypes) {  let viewType = lt[0];%><%_if (viewType === 'list') {%>
	<% include ../../../schema-list.view.list.html %><%}%><%_if (viewType === 'grid') {%>
	<% include ../../../schema-list.view.grid.html %><%}%><%_if (viewType === 'table') {%>
	<% include ../../../schema-list.view.table.html %><%}%><%_ } %>
