
	<div *ngIf="list.length > 0"><% for (let view of widgetDef.views) {%>
		<ng-template [ngIf]="isShowListView('<%-view%>')">
			<app-<%-schemaName%>-list-view-widget-<%-view%>
				[style]="style" [options]="options"
				[inputData]="inputData"
				[viewInputs]="viewInputs"

				[list]="list"

				[clickItemAction]="clickItemAction"
				[clickedId]="clickedId"
				[checkedItem]="checkedItem"
				[parentItem]="parentItem"
				[referenceFieldsMap]="referenceFieldsMap"
				[listSortOrder]="listSortOrder"
				[listSortField]="listSortField"
				[page]="page"
				[perPage]="perPage"
				[archivedSearch]="archivedSearch"
				[enums]="enums"

				[clickItemAction]="clickItemAction"
				[cardHasLink]="cardHasLink"
				[cardHasSelect]="cardHasSelect"
				[canArchive]="canArchive"
				[canCheck]="canCheck"
				[canDelete]="canDelete"
				[canUpdate]="canUpdate"
				[includeSubDetail]="includeSubDetail"

				(uiEvents)="viewUIEvent($event)"
			>
			</app-<%-schemaName%>-list-view-widget-<%-view%>>
		</ng-template>
		<%}%>
	</div>
