			<%_  let sbo = searchBarObj; if (sbo.showSearchBox) { %>
			    <div class="input-group">
	              <input type="search" class="form-control border border-secondary" id="<%-schemaName%>TextSearch" 
						#<%-schemaName%>TextSearch [(ngModel)]="searchText"
						(search)="$event.target.blur();searchList();"
						placeholder="Search for <%for (let [idx,nm] of sbo.stringBoxFields.entries()){%><%if (idx!=0) {%>, <%}%><%-nm%><%}%>">
				  <div *ngIf="searchText" class="input-group-append icon-search-clear">
						<span >
							<i class="fas fa-times-circle" (click)="onSearchTextClear()" title="Clear"></i>
						</span>
				  </div>
				  <div class="input-group-append">
				    <button type="button" class="btn btn-outline-secondary" (click)="searchList()"><i class="fas fa-search"></i></button>
				  </div>
				</div>
			<%}%><%_ if (typeof noMoreSearchArea == 'undefined' || !noMoreSearchArea) { %>
			    <div class="search-criteria-card mt-1">
						<div class="d-flex flex-wrap align-items-center"><%_
							sbo.ownSearchFields.forEach( (field) => {
								let fn=field.fieldName, fD=field.displayName, Fn=field.FieldName, sn=schemaName, Sn=SchemaName, mn=moduleName, Mn=ModuleName;

								let obj = {
									field, fn, fD, Fn, sn, Sn, mn, Mn,
								}
								%><%-
								include('/widgets/search/normal/schema-search.field.html', obj) %> 
							<%_ }) %>
						</div>
						<%_ if(sbo.hasArchive) {%>
						<hr>
						<%- include('/widgets/search/normal/schema-search.archive.html'); %>
						<hr><%}%>

						<div class="action-buttons">
							<button type="button" class="btn btn-outline-success" (click)="searchList()">Search</button>
						</div>
		        </div>
		    <%}%>
