/*  Search part */

.refine-search-text {
  font-size: 0.8rem; /*rgba(0,0,0,.125); */
  color: #868181;
}

.vitrual-card {
}

.virtual-card label {
  font-weight: bold;
}

.one-column-search {
  flex-grow: 1;
  flex-basis: 80%;
}
.two-column-search {
  flex-grow: 1;
  flex-basis: 80%;
}

@media (min-width: 992px) {
  .two-column-search {
    flex-basis: 40%;
  }
}

.two-column-search > .row,
.one-column-search > .row {
  padding-bottom: 2px;
}
