<%-include('/schema-list-view.component.css') %>

.gridview {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  /*
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  */
}

.grid-block {
  width: 18rem;
  display: inline-block;
  margin: 1rem;
  align-self: stretch;

  word-break: break-word;
  overflow-wrap: break-word;
  /*border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;*/
}

.grid-fields {
  /*height: 100%;*/
}
.grid-head {
  display: flex;
  align-items: flex-start;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.04);
}
.grid-head-picture {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 6rem;
  height: 6rem;

  margin-right: 0.5rem;
  overflow: hidden;
}

.card label {
  font-weight: bold;
}

