    <%_{
      let pictureFields = viewFields.filter(x => x.picture);
      let indexedFields = viewFields.filter(x => !x.picture && x.isIndexField);
      let otherFields = viewFields.filter(x => !x.picture && !x.isIndexField);
      %>
      <div class="card-header grid-head"><%
      for (let field of pictureFields){
        if (field.hidden) continue;
        if (listCategoryFieldsNotShown.includes(field.fieldName)) continue;

        let fn = field.fieldName; let ft = field.type;
        let fieldObj = {field, fn, ft, ref_link: true,};
        %>
        <div class="grid-head-picture"><%- include(`/ui/${uiFramework}/${uiDesign}/schema-display.field.html`, fieldObj); %>
        </div><%
      }%>
        <div>
          <h5><%
      for (let [index, field] of indexedFields.entries()){
          if (field.hidden) continue;
          if (listCategoryFieldsNotShown.includes(field.fieldName)) continue;
          let fn = field.fieldName; let ft = field.type;
          let fieldObj = {field, fn, ft, ref_link: true,};
          %>
            <div class="mr-1 d-inline-block">
              <%- include(`/ui/${uiFramework}/${uiDesign}/schema-display.field.html`, fieldObj); %>
            </div><%_
      }%>
          </h5>
        </div>
      </div>
      <div class="card-body"><%
      for (let [index, field] of otherFields.entries()){
          if (field.hidden) continue;
          if (listCategoryFieldsNotShown.includes(field.fieldName)) continue;

          let fn = field.fieldName; let ft = field.type;
          let fieldObj = {field, fn, ft, ref_link: true,};
          %>
          <div <%_ if (ft !== 'AngularSelector') {%> *ngIf="fieldHasValue(detail['<%-fn%>'])"<%}%>
            <% if (field.meta.directive) {
              %><%- include(`/ui/${uiFramework}/schema-display.field.directive.html`, fieldObj); %><%
            }%>
            class="d-flex flex-wrap"><%_ if (field.showDisplayName) {%>
            <div class="mr-3"><label><%-field.displayName%>:</label></div><%}%>
            <div><%- include(`/ui/${uiFramework}/${uiDesign}/schema-display.field.html`, fieldObj); %></div>
          </div><%_ 
      }%>
      </div><%
    }%>
