.galleryView {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  /*
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  */
}

.grid-block {
  width: 10rem;
  display: inline-block;
  margin: 1rem;
  align-self: stretch;


  word-break: break-word;
  overflow-wrap: break-word;
  /*border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;*/
}

.grid-block-large {
  width: 20rem;
}

.grid-fields {
  height: 100%;
}

.grid-head-picture {
  width: 100%;
  height: 6rem;
  background-color: unset;
}

.grid-head-picture-large {
  height: 12rem;
}

.clicked-row {
  /*background-color: #dcdfe0; */
  background-color: rgba(167, 224, 169, 0.175);
  box-shadow: 0 0 0 2px #44B549;
}

.grid-picture-title {
  font-size: 0.75rem;
  margin: 2px;
}

.grid-picture-title-large {
  font-size: 1rem;
  margin: 2px;
}

.grid-picture-subtitle {
  font-size: 0.5rem;
  margin: 2px;
}

.grid-picture-subtitle-large {
  font-size: 0.75rem;
  margin: 2px;
}
