                <%_let fieldValue = `detail['${fn}']`;
                    // only works for simple type now.
                    if (field.meta.pipe) {
                        let pipeSelector = selectors[field.meta.pipe].selector;
                        fieldValue += ` | ${pipeSelector}`;

                        let pipeInputs = selectors[field.meta.pipe].inputs || [];
                        for (let inputObj of pipeInputs) {
                            const value = inputObj.value;
                            switch (typeof value) {
                                case 'string':
                                    fieldValue += `:'${value}'`;
                                    break;
                                case 'number':
                                case 'boolean':
                                    fieldValue += `:${value}`;
                                    break;
                                default:
                                    console.error(`Pipe input type ${typeof value} is not supported.`);
                            }
                        }
                    }
                %><%_if(ft == 'ObjectId') {
                    if (typeof ref_link === 'undefined') ref_link = true;
                    let ref_l = false;

                    if (refApi[field.ref] && refApi[field.ref].includes("R") && ref_link) {ref_l = true;}%>
               	  <%if (ref_l){%><a routerLink="."  (click)="onDisplayRefClicked('<%-fn%>', detail['<%-fn%>'], $event)"><%_}%>
	            	{{detail['<%-fn%>']?detail['<%-fn%>']['valueMedium']:""}}
	              <%if (ref_l){%></a><%_}%><%_
                } else if (ft === 'SchemaDate') {
                    let fmraT = field.mraType;
                    %>  {{detail['<%-fn%>']? (detail['<%-fn%>']['originalValue'] | date:'<%-fmraT%>') : ''}}<%_
                } else if (ft === 'SchemaArray') {
                        if (field.elementMultiSelect) {%>
                    <mat-chip-list aria-label="<%-field.displayName%>" *ngIf="detail['<%-fn%>']">
                        <ng-template ngFor let-element [ngForOf]="enums['<%-fn%>']" let-idx="index">
                            <mat-chip *ngIf="detail['<%-fn%>']['selection'][element]">{{element}}</mat-chip>
                        </ng-template>
                    </mat-chip-list><%
                        } else if (field.elementType === 'SchemaString' && field.picture) {%>
                    <div class="d-flex align-items-center" *ngIf="detail['<%-fn%>'] && detail['<%-fn%>']['selection']">
                        <div class="picture-small-block" *ngFor="let element of detail['<%-fn%>']['selection']; let i = index;">
                          <lib-mdds-picture-display [downloadUrl]="element" [isLarge]="false"
                            [style]="{img: {'background-color': '#8080801f', 'object-fit': 'contain', width: '100%'}}">
                          </lib-mdds-picture-display>
                        </div>
                    </div><%
                        } else if (field.elementType === 'SchemaString' && field.file) {%>
                    <div class="" *ngIf="detail['<%-fn%>'] && detail['<%-fn%>']['selection']">
                          <lib-mdds-files-display [downloadUrls]="detail['<%-fn%>']['selection']">
                          </lib-mdds-files-display>
                    </div><%                    
                        } else if (field.elementType === 'SchemaString') {%>
                    <div *ngIf="detail['<%-fn%>'] && detail['<%-fn%>']['selection']">
                        <ng-template ngFor let-element [ngForOf]="detail['<%-fn%>']['selection']" let-idx="index">
                            <div class="badge badge-pill badge-secondary">
                                {{element}}
                            </div>
                        </ng-template>
                    </div><%
                        } else if (field.elementType === 'ObjectId') {%>
                    <div *ngIf="detail['<%-fn%>'] && detail['<%-fn%>']['selection']">
                        <ng-template ngFor let-element [ngForOf]="detail['<%-fn%>']['selection']" let-idx="index">
                            <div class="badge-click badge badge-pill badge-secondary" 
                                (click)="onDisplayRefClicked('<%-fn%>', detail['<%-fn%>']['selection'][idx], $event)">
                                {{element.valueMedium}}
                            </div>
                        </ng-template>
                    </div><%}%><%
                } else if (ft === 'Map') {
                        if (field.elementType === 'SchemaString') {%>
                    <div *ngIf="detail['<%-fn%>'] && detail['<%-fn%>']['selection']">
                        <ng-template ngFor let-element [ngForOf]="objectKeys(detail['<%-fn%>']['selection'])" let-idx="index">
                            <div class="d-flex">
                                <div class="mr-2">{{element}}:</div>
                                <div>{{detail['<%-fn%>']['selection'][element]}}</div>
                            </div>
                        </ng-template>
                    </div><%} else if (field.elementType === 'SchemaNumber') {%>
                    <div *ngIf="detail['<%-fn%>'] && detail['<%-fn%>']['selection']">
                        <ng-template ngFor let-element [ngForOf]="objectKeys(detail['<%-fn%>']['selection'])" let-idx="index">
                            <div class="d-flex">
                                <div class="mr-2">{{element}}:</div>
                                <div>{{detail['<%-fn%>']['selection'][element]}}</div>
                            </div>
                        </ng-template>
                    </div><%}%><%
                } else if (ft === 'SchemaString') {
                        if (field.editor) {%>
                    <div libMddsRichtextShow="<%-schemaName%>Detail<%-field.FieldName%>" [content]="detail['<%-fn%>']"></div><%
                        } else if (field.picture) {
                            let isLarge;
                            if (typeof largePicture === 'undefined') isLarge = false;
                            else isLarge = largePicture;%>
                    <lib-mdds-picture-display [downloadUrl]="detail['<%-fn%>']" [isLarge]="<%-isLarge%>" [aspectRatio]="<%-field.aspectRatio%>"></lib-mdds-picture-display><%
                        } else if (field.textarea) {%>
                    <div [innerHTML]="detail['<%-fn%>']"></div><%
                        } else if (field.meta.innerHtml) {%>
                    <div [innerHTML]="<%-fieldValue%>"></div><%
                        } else if (field.mraType === 'httpurl') {%>
                    <a href="{{detail['<%-fn%>']}}">{{detail['<%-fn%>']}}</a><%
                        } else {%>
                    {{<%-fieldValue%>}}<%_
                        }%><%
                } else if (ft === 'SchemaNumber') {
                        if (field.mraType === 'currency') {%>
                    {{ detail['<%-fn%>'] | currency:'USD'}}<%
                        } else {%>
                    {{<%-fieldValue%>}}<%_
                        }%><%
                } else if (ft === 'AngularSelector') { let sel = field.selector;%>
                    <<%-sel.selector%><% for(let input of sel.inputs) {%>
                        [<%-input.key%>]="<%-input.value%>"<%}%>>
                    </<%-sel.selector%>><%
                } else {%>{{<%-fieldValue%>}} <%}%>
