/* Override list CSS */
.grid-block {
  width: 10rem;
}

/* For left pannel, crop, and others */
.nav-link {
  padding: .25rem 1rem;
  font-size: 0.9rem;
}
.modal-body {
  display: flex;
  justify-content: center;

  flex-direction: column;
  align-items: center;
}
.category-nav {
  display: flex;
  flex-direction: column;
}
.main-area {
  flex-grow: 1;
}

.li-add {
  position: relative;
}
.add-group-pop {
  position: absolute;
  z-index: 30;
  width: 400px;
}

.select-picture {
  display: flex;
  width: 100%;
}
.crop-area {
  width: 80%;
  position: relative;
}
.crop-area-ratio {
  margin-top: 56.25%; /* 16/9 ratio */
}
.crop-area-box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: silver /* show me! */
}
.crop-actions {
  width: 100%;
  margin-top: 0.5rem;
}
.crop-image {
  display: block;
  max-width: 100%; /* This rule is very important, please don't ignore this */
}