
<% include ../../list-view/gallery-side-intro/gallery-side-intro.component.css %>

.grid-head-picture-large {
  height: 12rem;
  flex-basis: 12rem;
  width: 12rem;
}

.grid-head-picture-column-small {
  flex-basis: 2.5rem; /*height for flex-column*/
  height: 2.5rem;
  width: 2.5rem;
  margin: 0.2rem;

  background-color: #8080800f;
  cursor: pointer;
}

.picure-selected, .grid-head-picture-column-small:hover {
  border: red solid 1px;
}

@media screen and (min-width: 500px) {
  .grid-head-picture-large {
    height: 20rem;
    flex-basis: 20rem;
    width: 20rem;
  }
}