<ng-template ngFor let-detail [ngForOf]="list" let-idx="index">
	<div class="d-flex flex-wrap align-items-center" [ngClass]="{'flex-row-reverse': idx%2 == 1}">
		<%_
		let field0 = detailView[0]; let fn0 = field0.fieldName; let ft0 = field0.type;
		let field1 = detailView[1]; let fn1 = field1.fieldName; let ft1 = field1.type;
		let field2 = detailView[2]; let fn2 = field2.fieldName; let ft2 = field2.type;
		let field, fn, ft;%>
		<div class="grid-block" [ngClass]="{'grid-block-large': options['largePicture']}">
			<div class="text-left h-100"
				[ngClass]="{'clickable-card pointer': !options['disableSelect'], 'clicked-row': !options['disableSelect'] && selectedId === detail['_id']}">
				<div class="grid-fields" (click)="clickOneItem(idx, detail['_id'])">
					<div class="grid-head-picture" [ngClass]="{'grid-head-picture-large': options['largePicture']}"
						[ngStyle]="style['picture']">
						<lib-mdds-file-display [downloadUrl]="detail['<%-fn0%>']" [isLarge]="options['largePicture']">
						</lib-mdds-file-display>
					</div>
				</div>
			</div>
		</div>
		<div class="intro-block">
			<div class="grid-picture-title"
				[ngClass]="{'grid-picture-title-large': options['largePicture']}"
				[ngStyle]="style['title']">
				<%
				field = field1; fn = fn1; ft = ft1;
				%>
				<% include ../../../schema-display.field.html %>
			</div>
			<div class="grid-picture-subtitle"
				[ngClass]="{'grid-picture-subtitle-large': options['largePicture']}"
				[ngStyle]="style['intro']">
				<%
				field = field2; fn = fn2; ft = ft2;
				%>
				<% include ../../../schema-display.field.html %>
			</div>
		</div>
	</div>
</ng-template>