	    <div class="single-line-edit">
	      <div class="row">
	        <div class="col-3"><label for="<%-sn%>Edit<%-Fn%>"><%-fD%></label></div>
	        <div class="col-8">

    <%_ if (field.type === "SchemaString") { %>
        <%_ if (field.enumValues) { %>
	          <%_ field.enumValues.forEach( (f) => { %>
	          <div class="form-check-inline">
		        <input type="radio" name="<%-sn%>Edit<%-Fn%>" 
		        	class="form-check-input"
					id="<%-sn%>Edit<%-Fn%><%-f%>" [value]="'<%-f%>'"
					[(ngModel)]="detail['<%-fn%>']"
		        	#<%-sn%>Edit<%-Fn%>="ngModel">
		      	<span class="form-check-label"><%-f%></span>
		      <%_ }) %>
		    </div>
        <%_ } else { %>
	        <input type="text" class="form-control" id="<%-sn%>Edit<%-Fn%>" 
		        	<%if (field.validators) {%><%-sn%>Directive<%-Fn%>=""<%}%> 
	                [(ngModel)]="detail['<%-fn%>']" name="<%-sn%>Edit<%-Fn%>"
	                #<%-sn%>Edit<%-Fn%>="ngModel">
        <%_ } %>
    <%_ } else if (field.type === "SchemaBoolean") { %>
	        <div class="form-check-inline">
		      	<input type="radio" name="<%-sn%>Edit<%-Fn%>" 
		        	class="form-check-input"
		        	id="<%-sn%>Edit<%-Fn%>Yes" [value]="true" 
		        	[(ngModel)]="detail['<%-fn%>']"
		        	#<%-sn%>Edit<%-Fn%>="ngModel">
		      	<span class="form-check-label">Yes</span>
		      </div>
	        <div class="form-check-inline">
		        <input type="radio" name="<%-sn%>Edit<%-Fn%>" 
		        	class="form-check-input"
		        	id="<%-sn%>Edit<%-Fn%>No" [value]="false"
		        	[(ngModel)]="detail['<%-fn%>']"
		        	#<%-sn%>Edit<%-Fn%>="ngModel">
		      	<span class="form-check-label">No</span>
		      </div>
    <%_ } else if (field.type === "SchemaNumber") { %>
	        <input type="number" class="form-control" id="<%-sn%>Edit<%-Fn%>" 
	                [(ngModel)]="detail['<%-fn%>']" name="<%-sn%>Edit<%-Fn%>"
	                #<%-sn%>Edit<%-Fn%>="ngModel">
    <%_ } else if (field.type === "SchemaDate") { %> 
	        <div class="input-group">
		      <input class="form-control" id="<%-sn%>Edit<%-Fn%>" placeholder="{{dateFormat}}"
		             [(ngModel)]="detail['<%-fn%>']['from']" name="<%-sn%>Edit<%-Fn%>"
		             ngbDatepicker [minDate]="minDate" #<%-sn%>Edit<%-Fn%>="ngModel">
		      <span>&nbsp; ~ &nbsp;</span>
		      <input class="form-control" id="<%-sn%>Edit<%-Fn%>" placeholder="{{dateFormat}}"
		             [(ngModel)]="detail['<%-fn%>']['to']" name="<%-sn%>Edit<%-Fn%>"
		             ngbDatepicker [minDate]="minDate" #<%-sn%>Edit<%-Fn%>="ngModel">

		      <div class="input-group-append">
		        <button class="btn btn-outline-secondary" (click)="onDateSelectionToggle('<%-fn%>')" type="button">
		          <i class="fas fa-calendar-alt"></i>
		        </button>
		      </div>
		    </div><!-- input group --> 
		    <div class="date-selection-pop" *ngIf="detail['<%-fn%>']['pop']">
			    <ngb-datepicker #dp [minDate]="minDate" (select)="onDateSelection('<%-fn%>', $event)" [displayMonths]="2" [dayTemplate]="<%-sn%>Edit<%-Fn%>T">
				</ngb-datepicker>
				<ng-template #<%-sn%>Edit<%-Fn%>T let-<%-sn%>Edit<%-Fn%>Date="date" let-<%-sn%>Edit<%-Fn%>Focused="focused">
				  <span class="custom-day"
				        [class.focused]="<%-sn%>Edit<%-Fn%>Focused"
				        [class.range]="isRange('<%-fn%>', <%-sn%>Edit<%-Fn%>Date)"
				        [class.faded]="isHovered('<%-fn%>', <%-sn%>Edit<%-Fn%>Date) || isInside('<%-fn%>', <%-sn%>Edit<%-Fn%>Date)"
				        (mouseenter)="hoveredDate = <%-sn%>Edit<%-Fn%>Date"
				        (mouseleave)="hoveredDate = null">
				    {{ <%-sn%>Edit<%-Fn%>Date.day }}
				  </span>
				</ng-template>
		    </div>      
    <%_ } else if (field.type === "ObjectId") { %>
		    <div class="input-group">
		        <input class="form-control rounded" id="<%-sn%>Edit<%-Fn%>" 
		             [ngClass]="{'pointer ref-badge': detail['<%-fn%>']['_id']}"
		             (focus)="detail['<%-fn%>']['_id']?onRefShow('<%-field.fieldName%>', 'select', detail['<%-fn%>']['_id']):onRefSelect('<%-fn%>')"
		        	 <%if (field.validators) {%><%-sn%>Directive<%-Fn%>=""<%}%> 
		             [ngModel]="detail['<%-fn%>']['value']" name="<%-sn%>Edit<%-Fn%>"
		             #<%-sn%>Edit<%-Fn%>="ngModel"> 
			</div>
    <%_ } else if (field.type === "SchemaArray") { %>
	  <%_ if (field.elementType === "SchemaString") { %>
        <%_ if (field.enumValues && field.elementUnique) { %>
	        <%_ field.enumValues.forEach( (f, index) => { %>
	        <div class="form-check-inline">
		        <input type="checkbox" name="<%-sn%>Edit<%-Fn%><%-f%>" 
		        	class="form-check-input"
		        	id="<%-sn%>Edit<%-Fn%><%-f%>"
		        	[(ngModel)]="detail['<%-fn%>']['selection']['<%-f%>']"
		        	#<%-sn%>Edit<%-Fn%><%-f%>="ngModel">
		      	<span class="form-check-label"><%-f%></span>
		    </div>
		    <%_ }) %>
        <%_ } else { %>
	        <ng-template [ngIf]="detail['<%-fn%>'] && detail['<%-fn%>']['selection']">
	            <div class="badge badge-pill badge-secondary" *ngFor="let element of detail['<%-fn%>']['selection']; let i = index;">
	                      {{element}}
				    <i class="fas fa-times-circle icon-clear-badge" (click)="clearValueFromArrayField('<%-fn%>', i)" title="Remove"></i>
				</div>
	        </ng-template>
	
	        <div class="input-group mt-3">
	             <input type="search" class="form-control border"
	             		id="<%-sn%>Edit<%-Fn%>New" #<%-sn%>Edit<%-Fn%>New
					[(ngModel)]="detail['<%-fn%>']['new']" [ngModelOptions]="{standalone: true}"
					(keydown.enter)="$event.target.blur();onAddArrayItem('<%-fn%>');false"
				    > 
			    <div class="input-group-append">
			        <button type="button" class="btn btn-outline-secondary" (click)="onAddArrayItem('<%-fn%>')"><i class="fas fa-plus"></i></button>
			    </div>
			</div>
        <%_ } %>
      <%_ } else if (field.elementType === "ObjectId") { %>
            <ng-template [ngIf]="detail['<%-fn%>'] && detail['<%-fn%>']['selection']">
                <div class="badge badge-pill badge-secondary" *ngFor="let element of detail['<%-fn%>']['selection']; let i = index;">
                    {{element.value}}
				    <i class="fas fa-times-circle icon-clear-badge" (click)="clearValueFromArrayField('<%-fn%>', i)" title="Remove"></i>
				</div>
            </ng-template>
			<button type="button" class="btn btn-light ml-3" (click)="onRefSelect('<%-fn%>')">
				<i class="fas fa-plus" title="Add"></i>
			</button>
      <%_ } else { %> 
	        <div>Not supported yet.</div>
      <%_ } %> 
    <%_ } %>
	      </div>
	      
	      <div class="col-1">
		    <div class="icon-clear" (click)="clearValueFromDetail('<%-fn%>')"
		        *ngIf="checkValueDefinedFromDetail('<%-fn%>')"
		        ><i class="fas fa-times-circle" title="Clear"></i></div>
	      </div>
	    </div>
      </div>
      
