		
<div class="detail" *ngIf="detail">
	<%_ include schema-detail.d.actions.html %>
	<div id="slides" class="carousel slide">
		<!-- The slideshow -->
		<div class="carousel-inner">
			<div class="carousel-item  active"><%
				let field0 = detailView[0]; let fn0 = field0.fieldName; let ft0 = field0.type;
				let field1 = detailView[1]; let fn1 = field1.fieldName; let ft1 = field1.type;
				let field2 = detailView[2]; let fn2 = field2.fieldName; let ft2 = field2.type;
				let field3 = detailView[3]; let fn3 = field3.fieldName; let ft3 = field3.type;%>
				<img src="{{detail['<%-fn0%>']}}" alt="" class="slide-image">

				<div class="carousel-caption d-none d-md-block">
					<h3 class="mb-5">{{detail['<%-fn1%>']}}</h3>

					<h5>{{detail['<%-fn2%>']}}</h5>
					<p>{{detail['<%-fn3%>']}}</p>
				</div>
			</div>
		</div>
	</div>
	<%_ include schema-detail.d.pipeline.html %>
    <%_ include schema-detail.d.ref.html %>
</div>
