		
<div class="detail" *ngIf="detail">
	<%_ include ../../../schema-detail.d.actions.html %>

	<div class="d-flex justify-content-center">
		<div class="grid-block"  [ngClass]="{'grid-block-large': options['largePicture']}">
			<div class="text-left h-100"
				[ngClass]="{'clickable-card pointer': options['canSelect'], 'clicked-row': selectedId === detail['_id']}" >
				<div class="grid-fields" (click)="selectItemCandidate(i)" >
				<%_
				let field0 = detailView[0]; let fn0 = field0.fieldName; let ft0 = field0.type;
				let field1 = detailView[1]; let fn1 = field1.fieldName; let ft1 = field1.type;
				let field2 = detailView[2]; let fn2 = field2.fieldName; let ft2 = field2.type;%>
					<div class="grid-head-picture" [ngClass]="{'grid-head-picture-large': options['largePicture']}">                
								<lib-mdds-file-display [downloadUrl]="detail['<%-fn0%>']" [isLarge]="options['largePicture']"></lib-mdds-file-display>
					</div>
					<div *ngIf="options['showTitle']"  class="text-center">
						<div class="grid-picture-title" [ngClass]="{'grid-picture-title-large': options['largePicture']}">		
							{{detail['<%-fn1%>']}}
						</div>
						<div class="grid-picture-subtitle" [ngClass]="{'grid-picture-subtitle-large': options['largePicture']}">		
							{{detail['<%-fn2%>']}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<%_ include ../../../schema-detail.d.pipeline.html %>
    <%_ include ../../../schema-detail.d.ref.html %>
</div>
