<label>{{ inputData.stepTitle }}</label>

<% if (selectActionViewType === 'dropdown') 
{%><form>
	<div class="form-group list-selection">
		<select class="form-control" id="select<%-schemaName%>" [(ngModel)]="selectedId"
			(change)="onDropdownSelected()"
			name="elect<%-schemaName%>">
			<option *ngFor="let ele of dropdownItems" [ngValue]="ele.id">{{ele.displayName}}</option>
		</select>
	</div>
</form><%} else {
	let clickToDetail = false;
	let cardHasLink = false;

	let clickToCheck = true;

	let canUpdate = api.includes('U');
	let canDelete = false;
	let canArchive = false;
	let canCheck = true;
	
	let embeddedEdit = true;

	let isActSel = true;
	let view='list';

	if (selectActionViewType === 'list') {%>
<% include ../../../schema-list.view.list.html %><%}%><% if (selectActionViewType === 'grid') {%>
<% include ../../../schema-list.view.grid.html %><%}%><% if (selectActionViewType === 'table') {%>
<% include ../../../schema-list.view.table.html %><%}%>
<div class="add-area">
	<a href="javascript:void(0)" (click)="onAdd()"><i class="fas fa-plus-square" title="Add"></i> Add a new <%-schemaCamelName%></a>
	<div *ngIf="isAdding">
		<div class="modal-back">
			<div class="modal-front">
				<app-<%-schemaName%>-edit [initData]="parentData" [embeddedView]="true" (done)="onActionDone($event)"></app-<%-schemaName%>-edit>
			</div>
		</div>
	</div>
	<div *ngIf="isEditing">
		<div class="modal-back">
			<div class="modal-front">
				<app-<%-schemaName%>-edit [id]="parentId" [embeddedView]="true" (done)="onActionDone($event)"></app-<%-schemaName%>-edit>
			</div>
		</div>
	</div>
</div>

<%_}%>

