<%
		let cardCanClick = api.includes('R') && listToDetail === 'click';
		let clickToDetail = api.includes('R') && listToDetail === 'click';
		let cardHasLink = api.includes('R') && listToDetail === 'link';

		let clickToCheck = false;

		let canUpdate = api.includes('U');
		let canDelete = api.includes('D');
		let canCheck = api.includes('D');

		let embeddedEdit = false;

	    let view='list'; 
%>

	<div class="galleryView">
		<div class="grid-block"  [ngClass]="{'grid-block-large': options['largePicture']}" *ngFor="let detail of list;  let i = index; let list_index = index;">
			<div class="text-left h-100"
				[ngClass]="{'clickable-card pointer': options['canSelect'], 'clicked-row': selectedId === detail['_id']}" >
				<div class="grid-fields" (click)="selectItemCandidate(i)" >

					<div class="grid-head-picture" [ngClass]="{'grid-head-picture-large': options['largePicture']}">                
								<file-display [downloadUrl]="detail[picturelinkFn]" [isLarge]="options['largePicture']"></file-display>
					</div>
					<div *ngIf="options['showTitle']" class="grid-picture-name">		
							{{detail[titleFn]}}
					</div>
				</div>
			</div>
		</div>
	</div>
