<div class="container" id="print-section">
		<div class="card component-main-card"><%if (generateView === 'admin') {%>
		  <div class="card-header">
			  <nav class="nav nav-pills">
<%_ for (let sch_name in schemaMap) { let schm = schemaMap[sch_name];
    if (!schm.embeddedViewOnly) { %>
			    <a class="nav-item nav-link" routerLink="./<%-schm.schemaName%>" 
			    	routerLinkActive="active"><%-schm.SchemaCamelName%></a>
<%_ }
} %>
			  </nav>
		  </div><%}  else {%><%
		  }%>
		  <div class="card-body component-main-card-body">
			<router-outlet></router-outlet>
		  </div>
		</div>
</div>
