<div class="edit" *ngIf="detail">
	<div *ngIf="!embeddedView" class="action-buttons">
	</div>

	<div class="card" style="text-align: left;">
		<div class="card-body">
			<h4 class="card-title" *ngIf="!embeddedView && !options['title']">{{action}} <%-SchemaCamelName%></h4>
			<h4 class="card-title" *ngIf="options['title']" [ngStyle]="style['card-title']">
				{{options['title']}}
			</h4>
			<p	*ngIf="options['subtitle']" [ngStyle]="style['card-subtitle']">
				{{options['subtitle']}}
			</p>
			<form (ngSubmit)="onSubmit()" #editForm="ngForm">

				<div *ngIf="action == 'Edit'">
					<%_ editView.forEach( (field) => { let fn=field.fieldName, fD=field.displayName, Fn=field.FieldName, sn=schemaName, Sn=SchemaName, mn=moduleName, Mn=ModuleName;
%> <%_ include schema-edit.field.html %> <%_ }) %>
				</div>
				<div *ngIf="action == 'Create' || action == 'Add' ">
					<%_ createView.forEach( (field) => { let fn=field.fieldName, fD=field.displayName, Fn=field.FieldName, sn=schemaName,  Sn=SchemaName, mn=moduleName, Mn=ModuleName;
%> <%_ include schema-edit.field.html %> <%_ }) %>
				</div>

				<div class="action-buttons-center">
					<button type="submit" class="btn btn-success" [disabled]="!editForm.form.valid">Submit</button>
					<button class="btn btn-outline-success" type="button" (click)="editCancel()">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>
<%_ if (schemaHasRef) {%>
<ng-template <%-moduleName%>-ref-select></ng-template><%}%>