                <%_if(ft == 'ObjectId') { 
                    if (typeof ref_link === 'undefined') ref_link = true;
                    let ref_l = false;

                    if (refApi[field.ref] && refApi[field.ref].includes("R") && ref_link) {ref_l = true;}%>
               	  <%if (ref_l){%><a routerLink="."  (click)="onDisplayRefClicked('<%-fn%>', detail['<%-fn%>'], $event)"><%_}%>
	            	{{detail['<%-fn%>']?detail['<%-fn%>']['value']:""}}
	              <%if (ref_l){%></a><%_}%><%_
                } else if (ft === 'SchemaDate') {%>  {{detail['<%-fn%>']?detail['<%-fn%>']['value']:""}}<%_
                } else if (ft === 'SchemaArray') {
                        if (field.enumValues && field.elementUnique) {%>
                    <div class="badge badge-pill badge-secondary" *ngFor="let element of enums['<%-fn%>']">
                         <div *ngIf="detail['<%-fn%>'] && detail['<%-fn%>']['selection'][element]">{{element}}</div>
                    </div><%
                        } else if (field.elementType === 'SchemaString') {%>
                    <div *ngIf="detail['<%-fn%>'] && detail['<%-fn%>']['selection']">
                        <ng-template ngFor let-element [ngForOf]="detail['<%-fn%>']['selection']" let-idx="index">
                            <div class="badge badge-pill badge-secondary">
                                {{element}}
                            </div>
                        </ng-template>
                    </div><%
                        } else if (field.elementType === 'ObjectId') {%>
                    <div *ngIf="detail['<%-fn%>'] && detail['<%-fn%>']['selection']">
                        <ng-template ngFor let-element [ngForOf]="detail['<%-fn%>']['selection']" let-idx="index">
                            <div class="badge-click badge badge-pill badge-secondary" 
                                (click)="onDisplayRefClicked('<%-fn%>', detail['<%-fn%>']['selection'][idx], $event)">
                                {{element.value}}
                            </div>
                        </ng-template>
                    </div><%}%><%
                } else if (ft === 'Map') {
                        if (field.elementType === 'SchemaString') {%>
                    <div *ngIf="detail['<%-fn%>'] && detail['<%-fn%>']['selection']">
                        <ng-template ngFor let-element [ngForOf]="objectKeys(detail['<%-fn%>']['selection'])" let-idx="index">
                            <div class="d-flex">
                                <div class="mr-2">{{element}}:</div>
                                <div>{{detail['<%-fn%>']['selection'][element]}}</div>
                            </div>
                        </ng-template>
                    </div><%}%><%
                } else if (ft === 'SchemaString') {
                        if (field.editor) {%> 
                    <div libMddsRichtextShow="<%-schemaName%>Detail<%-field.FieldName%>" [content]="detail['<%-fn%>']"></div><%
                        } else if (field.picture) {
                            let isLarge; 
                            if (typeof largePicture === 'undefined') isLarge = false; 
                            else isLarge = largePicture;%>
                    <lib-mdds-file-display [downloadUrl]="detail['<%-fn%>']" [isLarge]="<%-isLarge%>" [aspectRatio]="<%-field.aspectRatio%>"></lib-mdds-file-display><%
                        } else if (field.textarea) {%>
                    <div [innerHTML]="detail['<%-fn%>']"></div>
                        <%} else {%>
                    {{detail['<%-fn%>']}}<%_
                        }%><%
                } else {%>{{detail['<%-fn%>']}} <%}%>
