<div class="edit" *ngIf="detail">
	<div class="card" style="text-align: left;">
		<div class="card-body">
			<h4 class="card-title" *ngIf="!embeddedView && !options['title']">{{action}} <%-SchemaCamelName%></h4>
			<h4 class="card-title" *ngIf="options['title']" [ngStyle]="style['card-title']">
				{{options['title']}}
			</h4>
			<p	*ngIf="options['subtitle']" [ngStyle]="style['card-subtitle']">
				{{options['subtitle']}}
			</p>
			<form (ngSubmit)="onSubmit()" #editForm="ngForm">
				<ng-template [ngIf]="action == 'Edit'"><%_
					editView.forEach( (field) => {
						let fn=field.fieldName, ft = field.type, fD=field.displayName, Fn=field.FieldName;
						let sn=schemaName, Sn=SchemaName, mn=moduleName, Mn=ModuleName;
						let fieldObj = {field, fn, ft, ref_link: true,};%>
					<ng-template [ngIf]="!hiddenFields.includes('<%-fn%>')">
				<fieldset class="form-group">
					<label for="Edit<%-Fn%>"><%-fD%></label><%
					if (field.important) {%>
					<span><i data-toggle="tooltip" title="<%-field.important%>" class="fas fa-exclamation-circle important-tip"></i></span><%}%><%
					if (field.description) {%><span><i data-toggle="tooltip" title="<%-field.description%>" class="far fa-question-circle"></i></span><%}%><%

					if (field.meta.readOnly) {%>
					<div><%- include(`/ui/${uiFramework}/${uiDesign}/schema-display.field.html`, fieldObj); %>
					</div><%_}
					else {%>
						<% include schema-edit.field.html %><%}%>
				</fieldset>
					</ng-template><%
					}) %>
				</ng-template>
				<ng-template [ngIf]="action == 'Create' || action == 'Add' "><%_
					createView.forEach( (field) => {
						let fn=field.fieldName, ft = field.type, fD=field.displayName, Fn=field.FieldName;
						let sn=schemaName, Sn=SchemaName, mn=moduleName, Mn=ModuleName;
						let fieldObj = {field, fn, ft, ref_link: true,};%>
					<ng-template [ngIf]="!hiddenFields.includes('<%-fn%>')">
				<fieldset class="form-group">
					<label for="Edit<%-Fn%>"><%-fD%></label><%
					if (field.important) {%>
					<span><i data-toggle="tooltip" title="<%-field.important%>" class="fas fa-exclamation-circle important-tip"></i></span><%}%><%
					if (field.description) {%>
					<span><i data-toggle="tooltip" title="<%-field.description%>" class="far fa-question-circle"></i></span><%}%><%

					if (field.meta.readOnly) {%>
					<div><%- include(`/ui/${uiFramework}/${uiDesign}/schema-display.field.html`, fieldObj); %>
					</div><%_}
					else {%>
						<% include schema-edit.field.html %><%}%>
				</fieldset>
					</ng-template><%
					}) %>
				</ng-template>
				<div class="action-buttons-center">
					<button type="submit" class="btn btn-success" [disabled]="!editForm.form.valid">Submit</button>
					<button *ngIf="!options['disableCancel']" class="btn btn-outline-success" type="button" (click)="editCancel()">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>
<%_ if (sFeatures.hasRef) {%>
<ng-template <%-moduleName%>-ref-select></ng-template><%}%>