	<div class="listview" *ngIf="isShowListView('list')">
		<div class="list-block" *ngFor="let detail of list;  let i = index; let list_index = index;">
			<hr *ngIf="i==0" class="list-devider">
			<div class="list-card text-left"
				[ngClass]="{'clicked-row': clickedId==detail['_id'], 'clickable-card': clickItemAction}" >
				<div class="list-fields" [ngClass]="{pointer: clickItemAction}" (click)="clickOneItem(i)">
			<%_ let viewFields = briefView; %><%_ include schema-display.list.html %>
				</div><%if(canDelete || canUpdate || canArchive || canCheck) {%>
				<div class="card-action-icons">
					<%if(canUpdate){%><% if (embeddedEdit) {%>
						<a [routerLink]="['.']" queryParamsHandling="preserve" (click)="onEdit(detail._id)"><i class="fas fa-edit" title="Edit"></i></a><%} else {%>
						<a [routerLink]="['../edit', detail['_id'] ]" [skipLocationChange]="false"><i class="fas fa-edit" title="Edit"></i></a><%}%>
					<%}%>
					<%if(canDelete){%><a [routerLink]="['.']" (click)="onDelete(detail['_id'], i)"><i class="fas fa-trash-alt" title="Delete"></i></a><%}%>
					<%if(canArchive){%><a [routerLink]="['.']" (click)="onArchive(detail['_id'], i, archivedSearch)">
						<i *ngIf="!archivedSearch" class="fa fa-archive" title="Archive"></i>
						<i *ngIf="archivedSearch" class="fas fa-trash-restore" title="Unarchive"></i>	
					</a><%}%>
					<%if(canCheck){%><input class="list-check-box" type="checkbox" [ngModel]="checkedItem[i]" (click)="selectOneItem(i)"/><%}%>
				</div><%}%>
			</div>
			<hr class="list-devider">
		</div>
	</div>
