<div *ngIf="!disableActionButtions" class="action-buttons">
    <% if (api.includes('L')) {%><a routerLink="<%-listRouterLink%>"><i class="fas fa-list" title="List"></i><!--  span>&nbsp;&nbsp;{{ItemCamelName}} List</span--></a><%}%>
    <% if (api.includes('U') && detailActionButtons[0]) {%><a [routerLink]="['../../edit', detail['_id'] ]" [skipLocationChange]="false" class="btn btn-outline-primary"><%-detailActionButtons[0]%></a><%}%>
    <% if (api.includes('C') && detailActionButtons[1]) {%><a [routerLink]="['../../new']" [queryParams]="{cid: detail['_id']}" [skipLocationChange]="false" class="btn btn-outline-primary"><%-detailActionButtons[1]%></a><%}%>
    <% if (api.includes('D') && detailActionButtons[2]) {%><a routerLink="." class="btn btn-outline-primary" (click)="onDelete(detail['_id'], null)"><%-detailActionButtons[2]%></a><%}%>
    <% if (api.includes('A') && detailActionButtons[3]) {%><a routerLink="." class="btn btn-outline-primary" (click)="onArchive(detail['_id'], null, detail['archived'])">
        <ng-template [ngIf]="!detail['archived']"><%-detailActionButtons[3]%></ng-template>
        <ng-template [ngIf]="detail['archived']">Unarchive</ng-template>
    </a><%}%>
</div>
