    <%_{
      let pictureFields = viewFields.filter(x => x.picture && x.type !== 'SchemaArray');
      let pictureFieldsName = pictureFields.map(x=>x.fieldName);
      let indexedFields = viewFields.filter(x => !x.picture && x.isIndexField);
      let indexedFieldsName = indexedFields.map(x=>x.fieldName);
      let otherFields = viewFields.filter(x => !pictureFieldsName.includes(x.fieldName) && !indexedFieldsName.includes(x.fieldName));
      let otherFieldsName = otherFields.map(x=>x.fieldName);
      
      if (pictureFields.length > 0 || indexedFields.length > 0){%>
      <div class="card-header grid-head"><%
      for (let field of pictureFields){
        if (field.hidden) continue;

        let fn = field.fieldName; let ft = field.type;
        let fieldObj = {field, fn, ft, ref_link: true,};
        %>
        <div class="grid-head-picture"><%- include(`/ui/${uiFramework}/${uiDesign}/schema-display.field.html`, fieldObj); %>
        </div><%
      }%>
        <div class="ml-1">
          <h5><%
      for (let [index, field] of indexedFields.entries()){
          if (field.hidden) continue;

          let fn = field.fieldName; let ft = field.type;
          let fieldObj = {field, fn, ft, ref_link: true,};
          %>
            <div class="mr-1 d-inline-block">
              <%- include(`/ui/${uiFramework}/${uiDesign}/schema-display.field.html`, fieldObj); %>
            </div><%_
      }%>
          </h5>
        </div>
      </div><%}%>
      <div class="card-body"><%
      for (let fieldGrp of viewGrp) {
          let fieldGrpProcessed = fieldGrp.filter(x=>otherFieldsName.includes(x.fieldName) && !x.hidden);
          if (fieldGrpProcessed.length < 1) {
            continue;
          }%>
          <div><%for (let field of fieldGrpProcessed) {
            let fn = field.fieldName; let ft = field.type;
            let fieldObj = {field, fn, ft, ref_link: true,};
            %>
            <div  <%_ if (ft !== 'AngularSelector') {%> *ngIf="fieldHasValue(detail['<%-fn%>'])"<%}%> class="d-inline-flex flex-wrap mx-2" style="min-width: 160px;"><%_ if (field.showDisplayName) {%>
                <div class="mr-2"><label><%-field.displayName%>:</label></div><%}%>
                <div><%- include(`/ui/${uiFramework}/${uiDesign}/schema-display.field.html`, fieldObj); %></div>
            </div><%}%>
          </div><%}%>
      </div><%
    }%>
