.detail {
	margin: 0 auto;
}

.detail .card-header {
  padding: 0;
}

.card-title {
	text-align: center;
}
.card label {
  font-weight: bold;
	font-size: 1rem;
}
/*
.card span {
	margin-left: 1rem;
}
*/
.referred-by-links {
	text-align: left;
}
.referred-by-links a {
	margin-left: 1rem;
}

.pointer {
  cursor: pointer;
}

.badge-click {
  cursor: pointer;
}
div.badge-click:hover {
  background-color: #495057 !important;
  text-decoration: underline;
}

.grid-fields {
  height: 100%;
}
.grid-head {
  display: inline-flex;
  width: 100%;
  align-items: center;
  /*width: 100%;*/
  background-color: rgba(0, 0, 0, 0);

}
.grid-head-picture, .list-head-picture {
  width: 50%;
  height: 20rem;
  background-color: #f1f1f1;
}

.transparent-border {
  border-color: rgba(0,0,0,0);
}

.info-description-text {
  line-height: 2rem;
  width: 70%;
  margin-left: 10%;
}

.slide-image {
  width: 100%;
}

.carousel-caption-h3 {
  font-size: 1.25rem;
}

.carousel-caption {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}
.carousel-caption-h5 {
  font-size: 0.75rem;
}

.carousel-caption-p {
  display: none;
}

@media screen and  (min-width: 768px) {
  .carousel-caption-h3 {
    font-size: 1.75rem;
  }
  
  .carousel-caption-h5 {
    font-size: 1.25rem;
  }
  
  .carousel-caption-p {
    display: block;
  }  
}
