/* Show pictures in list/grid view
*/
.thumbnail {
    overflow: hidden;
    height: 6rem;
    width:100%;
    max-width: 12rem;
    background-color: #a39f9f;
}
.file {
    background-color: transparent;
}

.thumbnail-local {
    overflow: hidden;
    height: 4rem;
    max-width: 8rem;
    width:100%;
    background-color: #f1f1f1;
}

.thumbnail img, .thumbnail-local img {
    height: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    padding: 1px;
}

.thumbnail i {
    font-size: 6rem;
    left: 50%;
    top: 50%;
    position: relative;
    transform: translate(-50%, -50%);
}
.file i {
    font-size: 4rem;
}
