<input type="file" #file
    style="display: none"
    [accept]="acceptStr"
    (change)="onFilesAdded()"/><!-- add 'multiple' to allow multiple file selection -->
<div class="w-100 d-flex flex-wrap justify-content-around">
  <div style="width: 300px">
    <div class="my-2">Current File</div>

    <div *ngIf="isImage" class="thumbnail">
        <img *ngIf="downloadUrl" src="{{downloadUrl}}_thumbnail">
        <i *ngIf="!downloadUrl" class="far fa-image"></i>
    </div>
    <div *ngIf="!isImage" class="file">
        <ul *ngIf="downloadUrl">
            <li><a [href]="downloadUrl" download>{{downloadName}}</a></li>
        </ul>
        <i *ngIf="!downloadUrl" class="far fa-file ml-2"></i>
    </div>
  </div>

  <div style="width: 300px">
    <div class="my-2">Select New File</div>
    <div *ngIf="isImage && !progress && localUrl" class="thumbnail-local">
        <img [src]="localUrl | SafeUrlPipe">
    </div>
    <div *ngIf="!isImage && !progress && localName">
        <ul>
            <li *ngFor="let file of files">
                <small>{{file.name}}
                </small>
            </li>
        </ul>
    </div>
    <div *ngIf="progress">
        <ul>
            <li *ngFor="let file of files">
                <small>{{file.name}}
                    <span>{{progress[file.name].progress | async}}% </span>
                    <span *ngIf="uploadSuccessful">
                        <span *ngIf="progress[file.name].result.success">SUCCESS</span>
                        <span *ngIf="!progress[file.name].result.success">FAIL</span>
                    </span>
                </small>
            </li>
        </ul>
    </div>
    <button type="button" class="btn btn-link ml-2" (click)="selectFiles()">New</button>
    <button type="button" [disabled]="uploadSuccessful" class="btn btn-link ml-2" (click)="uploadFiles()">Upload</button>    
  </div>
</div>