/* Show pictures in list/grid view
*/
.thumbnail {
    overflow: hidden;
    width:100%;
    height: 100%;
}

.thumbnail img {
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}
