.detail {
	margin: 0 auto;
}

.detail .card-header {
  padding: 0;
}

.card-title {
	text-align: center;
}
.card label {
  font-weight: bold;
	font-size: 1rem;
}
/*
.card span {
	margin-left: 1rem;
}
*/
.referred-by-links {
	text-align: left;
}
.referred-by-links a {
	margin-left: 1rem;
}

.pointer {
  cursor: pointer;
}

.badge-click {
  cursor: pointer;
}
div.badge-click:hover {
  background-color: #495057 !important;
  text-decoration: underline;
}

.transparent-border {
  border-color: rgba(0,0,0,0);
}

.info-description-text {
  line-height: 2rem;
  width: 70%;
  margin-left: 10%;
}
