
hr {
  margin-top: 2px;
  margin-bottom: 2px;
}

.icon-clear-badge {
	cursor: pointer;
	margin-left: 1rem;
}
.icon-clear-badge:hover {
  color: red;
}

.refine-search-text {
  font-size: 0.8rem; /*rgba(0,0,0,.125); */
  color: #868181;
}

.search-criteria-card {
}

.search-criteria-card label {
  font-weight: bold;
}

.one-column-search {
  flex-grow: 1;
  flex-basis: 80%;
}
.two-column-search {
  flex-grow: 1;
  flex-basis: 80%;
}

.two-column-search > .row,
.one-column-search > .row {
  padding-bottom: 4px;
}

.search-detail-badge {
  max-width: 250px;
  display: inline-block;
  overflow: hidden;
}

@media (min-width: 992px) {
  .two-column-search {
    flex-basis: 40%;
  }
}
