

.carousel-caption-h3 {
  font-size: 1.25rem;
}

.carousel-caption-h5 {
  font-size: 0.75rem;
}

.carousel-caption {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}

.carousel-caption-p {
  display: none;
}

@media screen and  (min-width: 768px) {
  .carousel-caption-h3 {
    font-size: 1.75rem;
  }
  
  .carousel-caption-h5 {
    font-size: 1.25rem;
  }
  
  .carousel-caption-p {
    display: block;
  }  
}

.slide-image {
  /*
  left: 50%;
  transform: translate(-50%, 0);
  position: relative;
  */
  width: 100%;
}
