	<table *ngIf="isShowListView('table')" class="table table-bordered table-hover">
	    <thead class="thead-light">
	    	<tr>
		        <th scope="col">#</th>
<%_ for (let field of briefView){
				if (field.hidden) continue;
				if (field.sortable) { %>
				<th class="pointer" scope="col" (click)="toggleListSort('<%-field.fieldName%>', '<%-field.displayName%>')">
					<%-field.displayName%>
					<span *ngIf="listSortField === '<%-field.fieldName%>'">
						<i *ngIf="listSortOrder === 'asc'" class="fas fa-arrow-up th-sort-arrow"></i>
						<i *ngIf="listSortOrder === 'desc'" class="fas fa-arrow-down th-sort-arrow"></i>
					</span>
				</th><%} else {%>
				<th scope="col"><%-field.displayName%></th>
				<%_ } }%><% let widthTh = 1.8;
				if (canDelete) {widthTh += 2;}
				if (canCheck) {widthTh += 2;}
				if (canUpdate) {widthTh += 2;}
				if (widthTh > 1.8){%><th scope="col" style="width:<%-widthTh%>rem;"></th><%}%>
	    	</tr>
	    </thead>
	    <tbody>
	        <tr *ngFor="let detail of list;  let i = index; let list_index = index;" [ngClass]="{'clicked-row': clickedId==detail['_id']}">
	            <td scope="row" <%if(clickToDetail || cardHasLink){%>(click)="onDetailLinkClicked(detail['_id'])"  class="pointer"<%}%>>
	            	{{(page-1)*per_page+i+1}}
	            </td>
<%_ let view = 'list'; for (let field of briefView){ 
				if (field.hidden) continue;
				let fn = field.fieldName, ft = field.type;; %>
	            <td <%if(clickToDetail){%>(click)="onDetailLinkClicked(detail['_id'])"  class="pointer"<%}%><%if(clickToCheck){%>(click)="onItemChecked(i)" class="pointer"<%}%>>
	            	<% include schema-display.field.html %>
	            </td><%_ } %><%if(canDelete || canUpdate || canCheck){%>
	            <td>
					<%if(canUpdate){%><% if (embeddedEdit) {%>
						<a [routerLink]="['.']" [queryParamsHandling]="preserve" (click)="onEdit(detail._id)"><i class="fas fa-edit" title="Edit"></i></a><%} else {%>
						<a [routerLink]="['../edit', detail['_id'] ]" [skipLocationChange]="false"><i class="fas fa-edit" title="Edit"></i></a><%}%>
					<%}%>
	            	<%if(canDelete){%><a routerLink="." (click)="onDelete(detail['_id'], i)"><i class="fas fa-trash-alt" title="Delete"></i></a><%}%>
					<%if(canCheck){%><input <%if( typeof isActSel === 'undefined' || !isActSel) {%>*ngIf="list.length > 1"<%}%> type="checkbox" [(ngModel)]="checkedItem[i]"/><%}%>
	            </td><%}%>
	        </tr>
	    </tbody>
	</table>
