		
<div class="detail" *ngIf="detail">
	<%if (generateView === 'admin') {%>
	<div class="action-buttons">
		<!--<a href="javascript:void(0)" (click)="goBack()"><i class="fas fa-angle-double-left" title="Back"></i></a>-->
		<% if (api.includes("L")) {%><a [routerLink]="['../../list' ]"><i class="fas fa-list" title="List"></i><!--  span>&nbsp;&nbsp;{{ItemCamelName}} List</span--></a><%}%>
		<% if (api.includes("U")) {%><a [routerLink]="['../../edit', detail['_id'] ]" [skipLocationChange]="false" class="btn btn-outline-primary">Edit</a><%}%>
		<% if (api.includes("C")) {%><a [routerLink]="['../../new']" [queryParams]="{cid: detail['_id']}" [skipLocationChange]="false" class="btn btn-outline-primary">New</a><%}%>
		<% if (api.includes("D")) {%><a routerLink="." class="btn btn-outline-primary" (click)="onDelete(detail['_id'], null)">Delete</a><%}%>
	</div>
	<%}%>

	<div id="slides" class="carousel slide">
		<!-- The slideshow -->
		<div class="carousel-inner">
			<div class="carousel-item  active"><%
				let field0 = detailView[0]; let fn0 = field0.fieldName; let ft0 = field0.type;
				let field1 = detailView[1]; let fn1 = field1.fieldName; let ft1 = field1.type;
				let field2 = detailView[2]; let fn2 = field2.fieldName; let ft2 = field2.type;
				let field3 = detailView[3]; let fn3 = field3.fieldName; let ft3 = field3.type;%>
				<img src="{{detail['<%-fn0%>']}}" alt="{{detail['<%-fn1%>']}}">

				<div class="carousel-caption d-none d-md-block">
					<h5>{{detail['<%-fn2%>']}}</h5>
					<p>{{detail['<%-fn3%>']}}</p>
				</div>
			</div>
		</div>
	</div>
	<%if (generateView === 'admin') {%>
		<% if (referred) {%>
	<br/>
	
	<ul class="nav nav-tabs">
		<% for (let ref of referredBy) { let refApi = ref[8];%>
		<%if (refApi.includes("L")) {%><li class="nav-item">
		<a [routerLink]="['./<%-ref[0]%>/list']"
			class="nav-link" routerLinkActive="active"><%-ref[5]%></a>
		</li><%}%><%}%>
	</ul><%}%>
		<router-outlet></router-outlet>
	<%}%>
</div>