    <%_ for (let field of viewFields){
        let lableLength = field.displayName.length;
        let contentLength = field.displayName.toString().length;
        let fn = field.fieldName; let ft = field.type; let ref_link = true;
        %><% if (lableLength + contentLength > 30) {%>
			<div><label><%-field.displayName%>:</label></div>
      <div class="ml-2"><% include schema-display.field.html %></div><%}
        else {%>
      <div>
        <div class="d-inline-block"><label><%-field.displayName%>:</label></div>
        <div class="ml-3 d-inline-block"><% include schema-display.field.html %></div>
      </div><%}
    %><%_}%>
          