td i {
	color:black;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
td a i:hover {
	color: blue;
}
td a i.fa-trash-alt:hover {
	color: red;
}

.action-buttons {
	width: 100%;
	float:right; 
	text-align: right;
	margin-bottom: 1.25rem;
}
.action-buttons .btn {
	display: inline-block;
	margin-left: 2.5rem;
}


.pagination li {
	min-width: 2.8rem;
}
.total_counts {
	padding-top: 0.8rem;
}