<div class="detail" *ngIf="detail">
	<%_ include schema-detail.d.actions.html %>
	<div class="card text-left transparent-border ">
	  <div class="grid-fields">
		<div class="card-header grid-head"><%_{
				let view='detail'; let largePicture=true;
				let field = detailView[0]; let fn = field.fieldName; let ft = field.type; let ref_link = true;%>
		  <div *ngIf="detail['<%-fn%>']" class="grid-head-picture mr-5"><% include schema-display.field.html %>
		  </div><%_}%>
		  <div class="ml-1 d-inline-block">
			<h2><%_{
				let view='detail'; let largePicture=true;
				let field = detailView[1]; let fn = field.fieldName; let ft = field.type; let ref_link = true;%>
			  <div class="mr-1 d-inline-block">
				<% include schema-display.field.html %>
			  </div><%_}%>
			</h2>
		  </div>
		</div>
		<div class="card-body"><%_{
			let view='detail'; let largePicture=true;
			let field = detailView[2]; let fn = field.fieldName; let ft = field.type; let ref_link = true;%>
			<div>
			  <h4 class="info-description-text"><% include schema-display.field.html %>
			  </h4>
			</div><%_ }%>
		</div>
	  </div>
	</div>
	<%_ include schema-detail.d.pipeline.html %>
    <%_ include schema-detail.d.ref.html %>
</div>
