	<div class="listview" *ngIf="isShowListView('list')">
		<div class="list-block" *ngFor="let detail of list;  let i = index; let list_index = index;">
			<hr *ngIf="i==0" class="list-diverder">
			<div class="list-card text-left <%if(cardCanClick){%>clickable-card<%}%> "
				[ngClass]="{'clicked-row': clickedId==detail['_id']}" >
				<div class="list-fields <%if(cardCanClick){%>pointer<%}%>" <%if(clickToDetail){%>(click)="onDetailLinkClicked(detail['_id'])"<%}%><%if(clickToCheck){%>(click)="onItemChecked(i)"<%}%> >
			<%_ let viewFields = briefView; %><%_ include schema-display.list.html %>
				</div><%if(canDelete || canUpdate || canCheck) {%>
				<div class="card-action-icons d-inline-block">
					<%if(canUpdate){%><% if (embeddedEdit) {%>
						<a [routerLink]="['.']" [queryParamsHandling]="preserve" (click)="onEdit(detail._id)"><i class="fas fa-edit" title="Edit"></i></a><%} else {%>
						<a [routerLink]="['../edit', detail['_id'] ]" [skipLocationChange]="false"><i class="fas fa-edit" title="Edit"></i></a><%}%>
					<%}%>
					<%if(canDelete){%><a routerLink="." (click)="onDelete(detail['_id'], i)"><i class="fas fa-trash-alt" title="Delete"></i></a><%}%>
					<%if(canCheck){%><input <%if( typeof isActSel === 'undefined' || !isActSel) {%>*ngIf="list.length > 1"<%}%> type="checkbox" [(ngModel)]="checkedItem[i]"/><%}%>
				</div><%}%>
			</div>
			<hr class="list-diverder">
		</div>
	</div>