<div class="edit" *ngIf="detail">
	<div class="action-buttons">
        <a *ngIf="action == 'Edit'" routerLink="../../list"><i class="fas fa-angle-double-left" title="Back to list"></i></a>
        <a *ngIf="action == 'Create'" routerLink="../list"><i class="fas fa-angle-double-left" title="Back to list"></i></a>
	</div>
	
	<div class="card" style="text-align: left;">
	  <div class="card-body">
	    <h4 class="card-title">{{action}} <%-SchemaName%></h4>    
	    <form (ngSubmit)="onSubmit()" #editForm="ngForm">
	    
	     <div *ngIf="action == 'Edit'">
<%_ editView.forEach( (field) => { %> <%_ include schema-edit.field.html %> <%_ }) %>
         </div>	
	     <div *ngIf="action == 'Create'">
<%_ createView.forEach( (field) => { %> <%_ include schema-edit.field.html %> <%_ }) %>
         </div>	
	     <button type="submit" class="btn btn-success" 
     			[disabled]="!editForm.form.valid">Submit</button>
	    </form>
	  </div>
	</div>
</div>
