			  <%_ let hasStringFields = false; let stringFields = []; let noMoreSearchArea = true;
			  	const listCategoryFields = listCategories.map(x=>x.listCategoryField);

			    for (let field of briefView){
					if (field.hidden) continue;
					if (listCategoryFields.includes(field.fieldName)) continue;
					if (field.picture) continue;

			        if(field.type == 'SchemaString') { hasStringFields = true; stringFields.push(field.fieldName);}
			        else {noMoreSearchArea = false;}
			    }%>
			<%_ if (hasStringFields) { %>
			    <div class="input-group">
	              <input type="search" class="form-control border border-secondary" id="<%-schemaName%>TextSearch" 
						#<%-schemaName%>TextSearch [(ngModel)]="searchText"
						(keyup.enter)="$event.target.blur();searchList();false"
					    placeholder="Search for <%for (let [idx,nm] of stringFields.entries()){%><%if (idx!=0) {%>, <%}%><%-nm%><%}%>"> 
				  <div *ngIf="searchText" class="input-group-append icon-clear-inside">
					<span >
					    <i class="fas fa-times-circle" (click)="onSearchTextClear()" title="Clear"></i>
				    </span>
				  </div>
				  <div class="input-group-append">
				    <button type="button" class="btn btn-outline-secondary" (click)="searchList()"><i class="fas fa-search"></i></button>
				  </div>
				</div>
			<%}%>
			<%_ if (typeof noMoreSearchArea == 'undefined' || !noMoreSearchArea) { %>
				<div class="text-center">
                    <span  class="pointer" (click)="toggleMoreSearch()">
                        <span class="refine-search-text">Refine Search &nbsp;</span>
                        <span>
                            <i *ngIf="!moreSearchOpened"  class="fas fa-plus-circle" title="More"></i>
                            <i *ngIf="moreSearchOpened" class="fas fa-minus-circle"  title="Less"></i>
                        </span>
                    </span>
				</div>
			    <div class="shadow" *ngIf="moreSearchOpened">
					<div class="card">
						<div class="card-body">
						<%_ briefView.forEach( (field) => {
							if (field.hidden) return;
							if (listCategoryFields.includes(field.fieldName)) return;
							if (field.type == 'SchemaString') return;
							let fn=field.fieldName, fD=field.displayName, Fn=field.FieldName, sn=schemaName;
							%> <%_ include schema-search.field.html %> 
						<%_ }) %>
						  <div class="action-buttons" style="margin-top: 10px;">
								<button type="button" class="btn btn-outline-success" (click)="onSearchClear()">Reset</button>
								<button type="button" class="btn btn-success" (click)="searchList()">Search</button>
						  </div>
						</div>
					</div>
		        </div>
		        <div *ngIf="!moreSearchOpened" style="text-align: left;">
					<span class="badge badge-pill badge-info" *ngFor="let value of searchMoreDetail">
					    <a (click)="toggleMoreSearch()" class="pointer"> {{value[0]}}: {{value[1]}}</a>
					    <i class="fas fa-times-circle icon-clear-badge" (click)="clearValueFromDetailAndSearchList(value[0])" title="Clear"></i>
					</span>
				</div>
		    <%}%>
			
