                <%if(ft == 'ObjectId') { if (refApi[field.ref].includes("R")) {ref_link = true;}%>
               	  <%if (ref_link){%><a routerLink="."  (click)="onDisplayRefClicked('<%-fn%>', detail['<%-fn%>'], $event)"><%_}%>
	            	{{detail['<%-fn%>']?detail['<%-fn%>']['value']:""}}
	              <%if (ref_link){%></a><%_}%><%_
                } else if (ft === 'SchemaDate') {%>  {{detail['<%-fn%>']?detail['<%-fn%>']['value']:""}}<%_
                } else if (ft === 'SchemaArray') {
                        if (field.enumValues && field.elementUnique) {%>
                    <div class="badge badge-pill badge-secondary" *ngFor="let element of enums['<%-fn%>']">
                         <div *ngIf="detail['<%-fn%>'] && detail['<%-fn%>']['selection'][element]">{{element}}</div>
                    </div><%
                        } else if (field.elementType === 'SchemaString') {%>
                    <div *ngIf="detail['<%-fn%>'] && detail['<%-fn%>']['selection']">
                        <ng-template ngFor let-element [ngForOf]="detail['<%-fn%>']['selection']" let-idx="index">
                            <div class="badge badge-pill badge-secondary">
                                {{element}}
                            </div>
                        </ng-template>
                    </div><%
                        } else if (field.elementType === 'ObjectId') {%>
                    <div *ngIf="detail['<%-fn%>'] && detail['<%-fn%>']['selection']">
                        <ng-template ngFor let-element [ngForOf]="detail['<%-fn%>']['selection']" let-idx="index">
                            <div class="badge-click badge badge-pill badge-secondary" 
                                (click)="onDisplayRefClicked('<%-fn%>', detail['<%-fn%>']['selection'][idx], $event)">
                                {{element.value}}
                            </div>
                        </ng-template>
                    </div><%}%><%
                } else if (ft === 'Map') {
                        if (field.elementType === 'SchemaString') {%>
                    <div *ngIf="detail['<%-fn%>'] && detail['<%-fn%>']['selection']">
                        <ng-template ngFor let-element [ngForOf]="objectKeys(detail['<%-fn%>']['selection'])" let-idx="index">
                            <div class="row">
                                <div class="col-3">{{element}}:</div>
                                <div class="col-3">{{detail['<%-fn%>']['selection'][element]}}</div>
                            </div>
                        </ng-template>
                    </div><%}%><%
                } else if (ft === 'SchemaString') {
                        if (field.editor && view == 'detail') {%> 
                    <div mra-richtext-show="<%-schemaName%>Detail<%-field.FieldName%>"></div>
                   {{detail['<%-fn%>']?detail['<%-fn%>']['value']:""}}<%
                        } else if (field.picture) {%>
                    <file-display [downloadUrl]="detail['<%-fn%>']"></file-display><%
                        } else {%>
                    {{detail['<%-fn%>']}}<%_
                        }%><%
                } else {%>  {{detail['<%-fn%>']}} <%}%>
