<div class="select-model show" (keyup.esc)="uiOnEscapeKey()" tabindex="0" #<%-ModuleName%>Modal>
  <div class="select-model-content">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Select {{ItemName}}</h5>
        <button type="button" class="close" aria-label="Close" (click)="uiCloseModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

<!--  model body starts -->

	<div class="container search">
		<div class="row">
			<div class="col-9">
				<%_ let noMoreSearchArea = true; %> <%_ include schema-search.bar.html %>
			</div>
			<div class="col-3">
			</div>
		</div>
		<hr/>
		<div class="row"><% include schema-list.pagination.html %>
		</div>
	</div>
	
	<table class="table table-bordered table-hover">
	    <thead class="thead-light">
	    	<tr>
		        <th scope="col">#</th>
<%_ for (let field of briefView.slice(0,FIELD_NUMBER_FOR_SELECT_VIEW)){ %>
		        <th scope="col"><%-field.FieldName%></th><%_ } %>		        
	        </tr>
	    </thead>
	    <tbody>
	        <tr *ngFor="let detail of list;  let i = index" [ngClass]="{'highlighted-row': currentNumInList==i}">
	            <td scope="row"><a [routerLink]="['.']" (click)="selectViewDetail(i)">{{(page-1)*per_page+i+1}}</a></td>
<%_ let view='list'; for (let field of briefView.slice(0,FIELD_NUMBER_FOR_SELECT_VIEW)){ 
				let fn = field.fieldName, ft = field.type; let ref_link = false; %>
	            <td (click)="selectItemSelected(i)"  style="cursor: pointer"><% include schema-display.field.html %>
	            </td><%_ } %>
	        </tr>
	    </tbody>
	</table>
	
	<div class="container">
		<div class="row"><% include schema-list.pagination.html %>
		</div>
	</div>
	

<!--  model body ends -->

      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div> 

