    <%_{
      let pictureFields = viewFields.filter(x => x.picture);
      let indexedFields = viewFields.filter(x => !x.picture && x.isIndexField);
      let otherFields = viewFields.filter(x => !x.picture && !x.isIndexField);%>
      <div class="card-header grid-head"><%
      for (let field of pictureFields){
        let fn = field.fieldName; let ft = field.type; let ref_link = true;
        %>
        <div class="grid-head-picture mr-1"><% include schema-display.field.html %>
        </div><%
      }%>
        <div class="ml-1 d-inline-block">
          <h5><%
      for (let [index, field] of indexedFields.entries()){
          let fn = field.fieldName; let ft = field.type; let ref_link = true;
          %>
            <div class="mr-1 d-inline-block">
              <% include schema-display.field.html %>
            </div><%_
      }%>
          </h5>
        </div>
      </div>
      <div class="card-body"><%
      for (let [index, field] of otherFields.entries()){
          let fn = field.fieldName; let ft = field.type; let ref_link = true;
          %>
          <div *ngIf="detail['<%-fn%>']">
            <div class="d-inline-block"><label><%-field.displayName%>:</label></div>
            <div class="ml-3 d-inline-block"><% include schema-display.field.html %>
            </div>
          </div><%_ 
      }%><% if (cardHasLink) {%>
        <div class="read-more" (click)="onDetailLinkClicked(detail['_id'])">
          Read more ...
        </div><%}%>
      </div><%
    }%>
