<div>

	<div class="container search">
		<div class="row"><% include schema-list.pagination.html %>
		</div>
	</div>
	
	<table class="table">
	    <thead>
	    	<tr>
		        <th scope="col">#</th>
<%_ for (let field of briefView){ %>
		        <th <%_if (field.ref) {%> [hidden]="referenceFieldsMap['<%-field.fieldName%>'] == parentItem" <%}%> scope="col">
		        	<%-field.FieldName%>
		        </th><%_ } %>		        
	        </tr>
	    </thead>
	    <tbody>
	        <tr *ngFor="let detail of list;  let i = index">
	            <td scope="row"><a [routerLink]="['../detail', detail['_id'] ]">{{(page-1)*per_page+i+1}}</a></td>
<%_ let view = 'list'; for (let field of briefView){ let fn = field.fieldName, ft = field.type; let ref_link = "../../"; %>
	            <td <%_if (field.ref) {%> [hidden]="referenceFieldsMap['<%-fn%>'] == parentItem" <%}%> >
	            	<% include schema-display.field.html %>
	            </td><%_ } %>
	        </tr>
	    </tbody>
	</table>
	
	<div class="container">
		<div class="row"><% include schema-list.pagination.html %>
		</div>
	</div>
	
</div>
