<div class="detail" *ngIf="detail">
	<div class="action-buttons">
        <a [routerLink]="['../../list']"><i class="fas fa-list" title="List"></i></a>
		<a [routerLink]="['../../edit', detail['_id'] ]" class="btn btn-outline-primary">Edit</a>
		<a routerLink="." class="btn btn-outline-primary" (click)="onDelete(detail['_id'], null)">Delete</a>
	</div>
	
	<div class="card" style="text-align: left;">
	  <div class="card-body">
	    <h4 class="card-title">{{ItemName}} Detail</h4>    
		<div class="card-text">
<%_ let view = "detail"; for (let field of detailView){ let fn = field.fieldName, ft = field.type; let ref_link = "../../../"%>
			<label><b><%-fn%>:</b></label>
			<span><% include schema-display.field.html %>
			</span><br><%_}%>
		</div>
	  </div>
	</div>
<% if (referred) {%>
	<br/>
	<hr/>	
	
	<ul class="nav nav-tabs">
	  <% for (let ref of referredBy) {%>
	  <li class="nav-item">
	    <a [routerLink]="['./<%-ref[0]%>/list']"
	        class="nav-link" routerLinkActive="active"><%-ref[0]%></a>
	  </li><%}%>
    </ul><%}%>
    <router-outlet></router-outlet>
</div>
