<div class="detail" *ngIf="detail">
	<div class="action-buttons">
        <a routerLink="../../list"><i class="fas fa-angle-double-left" title="Back to list"></i></a>
		<a [routerLink]="['../../edit', detail['_id'] ]" class="btn btn-outline-primary">Edit</a>
		<a routerLink="." class="btn btn-outline-primary" (click)="onDelete(detail['_id'], null)">Delete</a>
	</div>
	
	<div class="card" style="text-align: left;">
	  <div class="card-body">
	    <h4 class="card-title">Blog Detail</h4>    
		<div class="card-text">
<%_ for (let field of detailView){ %>
			<label><b><%-field.FieldName%>:</b></label>
				<span><%if(field.type == 'ObjectId') {%>  <a [routerLink]="detail['<%-field.fieldName%>']?['../../../<%-field.ref%>/detail', detail['<%-field.fieldName%>']['_id'] ]:['.']">
	            	    {{detail['<%-field.fieldName%>']?detail['<%-field.fieldName%>'].value:""}} </a><%_
	            	}else{%>  {{detail['<%-field.fieldName%>']}}<%}%>
				</span><br><%_}%>
		</div>
	  </div>
	</div>
</div>
