<div class="detail" *ngIf="detail">
	<div class="action-buttons">
        <a href="javascript:void(0)" (click)="goBack()"><i class="fas fa-angle-double-left" title="Back"></i></a>
		<a [routerLink]="['../../edit', detail['_id'] ]" [skipLocationChange]="false" class="btn btn-outline-primary">Edit</a>
		<a [routerLink]="['../../new']" [queryParams]="{cid: detail['_id']}" [skipLocationChange]="false" class="btn btn-outline-primary">New</a>
		<a routerLink="." class="btn btn-outline-primary" (click)="onDelete(detail['_id'], null)">Delete</a>
	</div>
	
	<div class="card text-left">
	  <div class="card-body">
	    <h4 class="card-title">{{ItemCamelName}} Detail</h4>    
		<div class="card-text">
<%_ let view = "detail"; for (let field of detailView){ let fn = field.fieldName, ft = field.type; let ref_link = true;%>
			<label><b><%-fn%>:</b></label>
			<span><% include schema-display.field.html %>
			</span><br><%_}%>
		</div>
	  </div>
	</div>
<% if (referred) {%>
	<br/>
	<hr/>	
	
	<ul class="nav nav-tabs">
	  <% for (let ref of referredBy) {%>
	  <li class="nav-item">
	    <a [routerLink]="['./<%-ref[0]%>/list']"
	        class="nav-link" routerLinkActive="active"><%-ref[5]%></a>
	  </li><%}%>
    </ul><%}%>
    <router-outlet></router-outlet>
</div>
