			<div class="col-3"><%_ if (typeof(showRefreshIcon) !== 'undefined' && showRefreshIcon) {%>
				<%_ for (const viewType of listTypes) { %><% if (viewType === 'table') { %>
				<input type="radio" name="view-filter" id="table-view" class="view-radio"
					(click)="setListViewFilter('table')" [checked]="isShowListView('table')">
					<label for="table-view"><i class="fa fa-list-alt"></i></label><%}%><% if (viewType === 'list') { %>
				<input type="radio" name="view-filter" id="list-view" class="view-radio"
					(click)="setListViewFilter('list')" [checked]="isShowListView('list')">
				  <label for="list-view"><i class="fa fa-th-list"></i></label><%}%><% if (viewType === 'grid') { %>
				<input type="radio" name="view-filter" id="grid-view" class="view-radio"
					(click)="setListViewFilter('grid')" [checked]="isShowListView('grid')">
					<label for="grid-view"><i class="fa fa-th"></i></label><%}%>
			<%_ } %><% } %>
			</div>
			<div class="col-6">
			  <div *ngIf="total_pages > 1">
				  <ul class="pagination justify-content-center">
				    <li class="page-item"
				            [ngClass]="{'disabled': page<=1}">
				      <a class="page-link" routerLink="." (click)="onPreviousPage()"
				         aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				        <span class="sr-only">Previous</span>
				      </a>
				    </li>

				    <li *ngIf="left_more" class="page-item"><a class="page-link">...</a></li>

				    <li *ngFor="let p of pages;  let i = index" class="page-item"
				    		[ngClass]="{'active': p==page}">
				    	<a class="page-link" routerLink="." (click)="onGotoPage(p)">{{p}}</a>
				    </li>

				    <li *ngIf="right_more" class="page-item"><a class="page-link">...</a></li>
				    <li class="page-item"
				            [ngClass]="{'disabled': page>=total_pages}">
				      <a class="page-link" routerLink="." (click)="onNextPage()"
				         aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				        <span class="sr-only">Next</span>
				      </a>
				    </li>
				  </ul>
			  </div>
			</div>
			<div class="col-3">
				<div class="total_counts">
					Total: <b>{{total_count}}</b><%_ if (typeof(showRefreshIcon) !== 'undefined' && showRefreshIcon) {
					%><%if(api.includes("D")){%>
					<input type="checkbox" class="ml-3 mr-1" [(ngModel)]="checkAll" (change)="onCheckAllChange()">All<%}%>
					<a class="ml-3" routerLink="." (click)="onRefresh()"><i class="fa fa-sync-alt"></i></a><%}%>
				</div>
			</div>			
