<%if(ft == 'ObjectId') {%>  <%if (ref_link){
    %><a routerLink="."  (click)="onDisplayRefClicked('<%-fn%>', detail['<%-fn%>'], $event)"> <%_}%>
	            	    {{detail['<%-fn%>']?detail['<%-fn%>']['value']:""}} <%if (ref_link){%></a><%_}%><%_
	            	} else if (ft === 'SchemaDate') {%>  {{detail['<%-fn%>']?detail['<%-fn%>']['value']:""}} <%_
	            	} else if (ft === 'SchemaString' && field.editor && view == 'detail') {%> 
	            	 <div mra-richtext-show="<%-schemaName%>Detail<%-field.FieldName%>"></div>
	            	{{detail['<%-fn%>']?detail['<%-fn%>']['value']:""}} <%_
                    } else if (ft === 'SchemaArray'  && field.enumValues && field.elementUnique) {%>
                    <span class="badge badge-pill badge-secondary" *ngFor="let element of enums['<%-fn%>']">
                         <div *ngIf="detail['<%-fn%>'] && detail['<%-fn%>']['selection'][element]">{{element}}</div>
                    </span><%
	            	} else {%>  {{detail['<%-fn%>']}}<%}%>
