<div>
	<%_ if (api.includes("C")) {%>
      <% if (embeddedViewOnly) {%><div class="add-area">
        <a href="javascript:void(0)" (click)="onAdd()"><i class="fas fa-plus-square" title="Add"></i></a>
        <div *ngIf="isAdding">
            <app-<%-schemaName%>-edit [initData]="parentData" (done)="onAddDone($event)"></app-<%-schemaName%>-edit>
        </div>
    </div><%}%><%}%>
	<div class="container search">
		<% include schema-list.pagination.html %>
	</div>
	
	<table class="table">
	    <thead>
	    	<tr>
		        <th scope="col">#</th>
<%_ for (let field of briefView){ %>
		        <th <%_if (field.ref) {%> *ngIf="referenceFieldsMap['<%-field.fieldName%>'] != parentItem" <%}%> scope="col">
		        	<%-field.displayName%>
		        </th><%_ } %>		        
                <th scope="col" style="width:2rem;"></th>
                <%_ if ( (!embeddedViewOnly && api.includes("R")) || (embeddedViewOnly && api.includes("D"))) {%>
		        <th scope="col" style="width:2rem;"></th><%}%>
	        </tr>
	    </thead>
	    <tbody>
	      <ng-template ngFor let-detail [ngForOf]="list" let-i="index">
	        <tr [ngClass]="{'clicked-row': clickedId==detail['_id']}"> <!-- *ngFor="let detail of list;  let i = index" -->
	            <td scope="row">{{(page-1)*per_page+i+1}}</td>
<%_ let view = 'list'; for (let field of briefView){ let fn = field.fieldName, ft = field.type; let ref_link = true; %>
	            <td <%_if (field.ref) {%> *ngIf="referenceFieldsMap['<%-fn%>'] != parentItem" <%}%> >
	            	<% include schema-display.field.html %>
                </td><%_ } %>
	            <td>
                    <%_ if (detailSubView.length != 0) {%>
                    	<%if(api.includes("R")){%>
			        <span class="pointer" (click)="toggleCheckedItem(i)">
			            <i *ngIf="!checkedItem[i]" class="fas fa-caret-down" title="More"></i>
			            <i *ngIf="checkedItem[i]" class="fas fa-caret-up" title="Less"></i>
			        </span><%}%><%}%>
                </td>
                <%_ if ( (!embeddedViewOnly && api.includes("R")) || (embeddedViewOnly && api.includes("D"))) {%>
	            <td>
                <%_ if (!embeddedViewOnly && api.includes("R")) {%>
	            	<a routerLink="." (click)="onDetailLinkClicked(detail['_id'])"><i class="fas fa-external-link-square-alt" title="View Details"></i></a>
                <%_ } else if (embeddedViewOnly && api.includes("D")){%>
	            	<a routerLink="." (click)="onDelete(detail['_id'], i)"><i class="fas fa-trash-alt" title="Delete"></i></a>
                <%_ }%>
                </td><%}%>
	        </tr>
	        <%_ let colspan = briefView.length %><%if(api.includes("R")){%>
	        <tr *ngIf="checkedItem[i]" >
	        	<td colspan="<%-colspan%>"><app-<%-schemaName%>-detail-sub [inputData]="detail['_id']"></app-<%-schemaName%>-detail-sub></td>
	        </tr><%}%>
	      </ng-template>
	    </tbody>
	</table>
	
	<div class="container">
		<% include schema-list.pagination.html %>
	</div>
	
</div>
