<div>

	<div class="container search">
		<div class="row">
			<div class="col-8">
			    <%_ include schema-search.bar.html %>
		        <span class="icon-search " [hidden]="moreSearchOpened" (click)="toggleMoreSearch()">
		            <i  class="fas fa-caret-down" title="More"></i>
		        </span>
		    </div>
			<div class="col-1">
			</div>
			<div class="col-3">
		        <div class="action-buttons">
					<a [routerLink]="['../new' ]" class="btn btn-outline-primary">Create</a>
					<a routerLink="." class="btn btn-outline-primary" (click)="onDeleteSelected()"
						[ngClass]="{'disabled': !isItemSelected()}">Delete</a>
				</div>
			</div>
		</div>

		<div class="row"  *ngIf="!moreSearchOpened">
	       	<div class="col-1"></div> <!-- indent -->
			<div class="col-8" style="text-align: left;">
				<span class="badge badge-pill badge-secondary" *ngFor="let value of searchMoreDetail">
				    <a (click)="toggleMoreSearch()" class="pointer"> {{value}}</a></span>
			</div>
		</div>
		
	    <div class="row"  *ngIf="moreSearchOpened">
	       	<div class="col-1"></div> <!-- indent -->
	       	<div class="col-8">
				<div class="card">
				  <div class="card-body">
<%_ briefView.forEach( (field) => { let fn=field.fieldName, Fn=field.FieldName, sn=schemaName;
	if (field.type != 'SchemaString') {%> <%_ include schema-search.field.html %> 
<%_ }}) %>
				  	<div class="action-buttons" style="margin-top: 10px;">
						<button type="button" class="btn btn-outline-success" (click)="onSearchClear()">Reset</button>
						<button type="button" class="btn btn-success" (click)="searchList()">Search</button>
				    </div>
				  </div>
				</div>
		    </div>
	       	<div class="col-1"><!-- search button -->
	       	</div> 
        </div>	


		<hr/>
		<div class="row"><% include schema-list.pagination.html %>
		</div>
	</div>
	
	<table class="table table-bordered table-hover">
	    <thead class="thead-light">
	    	<tr>
		        <th scope="col">#</th>
<%_ for (let field of briefView){ %>
		        <th scope="col"><%-field.FieldName%></th><%_ } %>		        
		        <th scope="col" style="width:8rem;"></th>
		        <th scope="col" style="width:2rem;">
		        	<input type="checkbox" [(ngModel)]="checkAll" (change)="onCheckAllChange()">
		        </th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr *ngFor="let detail of list;  let i = index">
	            <td scope="row"><a [routerLink]="['../detail', detail['_id'] ]">{{(page-1)*per_page+i+1}}</a></td>
<%_ for (let field of briefView){ let fn = field.fieldName, ft = field.type; let ref_link = "../../"; %>
	            <td><% include schema-display.field.html %>
	            </td><%_ } %>
	            <td>
	            	<a [routerLink]="['../detail', detail['_id'] ]"><i class="fas fa-book-open" title="View Details"></i></a>
	            	<a [routerLink]="['../edit', detail['_id'] ]"><i class="fas fa-edit" title="Edit"></i></a>
	            	<a routerLink="." (click)="onDelete(detail['_id'], i)"><i class="fas fa-trash-alt" title="Delete"></i></a>
	            </td>
	            <td>      
	            	<input type="checkbox" [(ngModel)]="checkedItem[i]"/>
	            </td>
	        </tr>
	    </tbody>
	</table>
	
	<div class="container">
		<div class="row"><% include schema-list.pagination.html %>
		</div>
	</div>
	
</div>

<%_ if (schemaHasRef) {%>
<ng-template <%-moduleName%>-ref-select></ng-template><%}%>
