    <%_ if (field.type === "SchemaString") { %>
	      <fieldset class="form-group">
	        <label for="<%-schemaName%>Edit<%-field.FieldName%>"><%-field.FieldName%></label>
        <%_ if (field.enumValues) { %>
	        <div class="form-check"
		        <%_ if (field.required) {%>
		          [ngClass]="{'ng-valid': enums['<%-field.fieldName%>'].includes(detail['<%-field.fieldName%>']),
		                      'ng-invalid': !enums['<%-field.fieldName%>'].includes(detail['<%-field.fieldName%>'])}"
		        <% } else { %>
		          [ngClass]="{'ng-valid': true} "<%_ } %>
		        >
	          <%_ field.enumValues.forEach( (f) => { %>
	          <div class="form-check-inline">
		        <input type="radio" name="<%-schemaName%>Edit<%-field.FieldName%>" 
		        	class="form-check-input"
		        	<%if (field.required) {%>required<%}%>
		        	id="<%-schemaName%>Edit<%-field.FieldName%><%-f%>" [value]="'<%-f%>'"
		        	<%if (field.validators) {%><%-schemaName%>Directive<%-field.FieldName%>=""<%}%> 
		        	[(ngModel)]="detail['<%-field.fieldName%>']"
		        	#<%-schemaName%>Edit<%-field.FieldName%>="ngModel">
		      	<label class="form-check-label"><%-f%></label>
		      </div>
		      <%_ }) %>
		      <% if (!field.required) {%><span *ngIf="enums['<%-field.fieldName%>'].includes(detail['<%-field.fieldName%>'])" 
		          class="icon-clear" (click)="clearValueFromDetail('<%-field.fieldName%>')">
		          <i class="fas fa-times-circle" title="Clear"></i></span> <%}%>
		    </div>
        <%_ } else { %>
	        <input type="text" class="form-control" id="<%-schemaName%>Edit<%-field.FieldName%>" 
	                <%if (field.required) {%>required<%}%>
	                <%if (typeof field.minlength === 'number') {%>minlength="<%-field.minlength%>"<%}%>
	                <%if (typeof field.maxlength === 'number') {%>maxlength="<%-field.maxlength%>"<%}%>
		        	<%if (field.validators) {%><%-schemaName%>Directive<%-field.FieldName%>=""<%}%> 
	                [(ngModel)]="detail['<%-field.fieldName%>']" name="<%-schemaName%>Edit<%-field.FieldName%>"
	                #<%-schemaName%>Edit<%-field.FieldName%>="ngModel">
        <%_ } %>
	        <div [hidden]="<%-schemaName%>Edit<%-field.FieldName%>.valid || <%-schemaName%>Edit<%-field.FieldName%>.pristine || <%-schemaName%>Edit<%-field.FieldName%>.errors.minlength"
     			class="alert alert-danger">
	          <%_if (field.required) {%>
	          <div *ngIf="<%-schemaName%>Edit<%-field.FieldName%>.errors && <%-schemaName%>Edit<%-field.FieldName%>.errors.required">
    	        <%-field.FieldName%> is required.
  	          </div><%}%>
		      <%_if (field.validators) {%>
	          <div *ngIf="<%-schemaName%>Edit<%-field.FieldName%>.errors && <%-schemaName%>Edit<%-field.FieldName%>.errors.<%-schemaName%>Directive<%-field.FieldName%>">
                {{<%-schemaName%>Edit<%-field.FieldName%>.errors.<%-schemaName%>Directive<%-field.FieldName%>}}
  	          </div><%}%> 
	          <%_if (typeof field.maxlength === 'number') {%>
	          <div *ngIf="<%-schemaName%>Edit<%-field.FieldName%>.errors && <%-schemaName%>Edit<%-field.FieldName%>.errors.maxlength">
                <%-field.FieldName%> must be at most <%-field.maxlength%> characters long.
  	          </div><%}%>
	        </div>
	        <%_if (typeof field.minlength === 'number') {%>
	        <div [hidden]="<%-schemaName%>Edit<%-field.FieldName%>.valid || !<%-schemaName%>Edit<%-field.FieldName%>.touched || !<%-schemaName%>Edit<%-field.FieldName%>.errors.minlength"
     			class="alert alert-danger">
	          <div *ngIf="<%-schemaName%>Edit<%-field.FieldName%>.errors && <%-schemaName%>Edit<%-field.FieldName%>.errors.minlength">
                <%-field.FieldName%> must be at least <%-field.minlength%> characters long.
  	          </div>
	        </div><%}%>        
	      </fieldset>
    <%_ } else if (field.type === "SchemaBoolean") { %>
	      <fieldset class="form-group">
	        <label for="<%-schemaName%>Edit<%-field.FieldName%>"><%-field.FieldName%></label>
	        <div class="form-check"
		        <%_ if (field.required) {%>
		          [ngClass]="{'ng-valid': detail['<%-field.fieldName%>'] == true || detail['<%-field.fieldName%>'] == false,
		                      'ng-invalid': detail['<%-field.fieldName%>'] != true && detail['<%-field.fieldName%>'] != false}"
		        <% } else { %>
		          [ngClass]="{'ng-valid': true} "<%_ } %>
		        >
	          <div class="form-check-inline">
		        <input type="radio" name="<%-schemaName%>Edit<%-field.FieldName%>" 
		        	class="form-check-input"
		        	id="<%-schemaName%>Edit<%-field.FieldName%>Yes" [value]="true" 
		        	<%if (field.required) {%>required<%}%>
		        	<%if (field.validators) {%><%-schemaName%>Directive<%-field.FieldName%>=""<%}%> 
		        	[(ngModel)]="detail['<%-field.fieldName%>']"
		        	#<%-schemaName%>Edit<%-field.FieldName%>="ngModel">
		      	<label class="form-check-label">Yes</label>
		      </div>
	          <div class="form-check-inline">
		        <input type="radio" name="<%-schemaName%>Edit<%-field.FieldName%>" 
		        	class="form-check-input"
		        	id="<%-schemaName%>Edit<%-field.FieldName%>No" [value]="false"
		        	<%if (field.required) {%>required<%}%>
		        	<%if (field.validators) {%><%-schemaName%>Directive<%-field.FieldName%>=""<%}%> 
		        	[(ngModel)]="detail['<%-field.fieldName%>']"
		        	#<%-schemaName%>Edit<%-field.FieldName%>="ngModel">
		      	<label class="form-check-label">No</label>
		      </div>
		      <% if (!field.required) {%><div *ngIf="detail['<%-field.fieldName%>'] == true || detail['<%-field.fieldName%>'] == false" 
		          class="form-check-inline" (click)="clearValueFromDetail('<%-field.fieldName%>')">
		          <i class="fas fa-times-circle" title="Clear"></i></div> <%}%>
		    </div>
	        <div [hidden]="<%-schemaName%>Edit<%-field.FieldName%>.valid || <%-schemaName%>Edit<%-field.FieldName%>.pristine"
     			class="alert alert-danger">
	          <%_if (field.required) {%>
	          <div *ngIf="<%-schemaName%>Edit<%-field.FieldName%>.errors && <%-schemaName%>Edit<%-field.FieldName%>.errors.required">
    	        <%-field.FieldName%> is required.
  	          </div><%}%>
		      <%_if (field.validators) {%>
	          <div *ngIf="<%-schemaName%>Edit<%-field.FieldName%>.errors && <%-schemaName%>Edit<%-field.FieldName%>.errors.<%-schemaName%>Directive<%-field.FieldName%>">
                {{<%-schemaName%>Edit<%-field.FieldName%>.errors.<%-schemaName%>Directive<%-field.FieldName%>}}
  	          </div><%}%> 
	        </div>
		  </fieldset>
    <%_ } else if (field.type === "SchemaNumber") { %>
	      <fieldset class="form-group">
	        <label for="<%-schemaName%>Edit<%-field.FieldName%>"><%-field.FieldName%></label>
	        <input type="number" class="form-control" id="<%-schemaName%>Edit<%-field.FieldName%>" 
	                <%if (typeof field.numberMin === 'number') {%>minnumber="<%-field.numberMin%>" min="<%-field.numberMin%>"<%}%>
	                <%if (typeof field.numberMax === 'number') {%>maxnumber="<%-field.numberMax%>" max="<%-field.numberMax%>"<%}%>
	                <%if (field.required) {%>required<%}%>
		        	<%if (field.validators) {%><%-schemaName%>Directive<%-field.FieldName%>=""<%}%> 
	                [(ngModel)]="detail['<%-field.fieldName%>']" name="<%-schemaName%>Edit<%-field.FieldName%>"
	                #<%-schemaName%>Edit<%-field.FieldName%>="ngModel">
	        <div [hidden]="<%-schemaName%>Edit<%-field.FieldName%>.valid || <%-schemaName%>Edit<%-field.FieldName%>.pristine || <%-schemaName%>Edit<%-field.FieldName%>.errors.minnumber"
     			class="alert alert-danger">
	          <%_if (field.required) {%>
	          <div *ngIf="<%-schemaName%>Edit<%-field.FieldName%>.errors && <%-schemaName%>Edit<%-field.FieldName%>.errors.required">
    	        <%-field.FieldName%> is required.
  	          </div><%}%>
		      <%_if (field.validators) {%>
	          <div *ngIf="<%-schemaName%>Edit<%-field.FieldName%>.errors && <%-schemaName%>Edit<%-field.FieldName%>.errors.<%-schemaName%>Directive<%-field.FieldName%>">
                {{<%-schemaName%>Edit<%-field.FieldName%>.errors.<%-schemaName%>Directive<%-field.FieldName%>}}
  	          </div><%}%> 
	          <%_if (typeof field.numberMax === 'number') {%>
	          <div *ngIf="<%-schemaName%>Edit<%-field.FieldName%>.errors && <%-schemaName%>Edit<%-field.FieldName%>.errors.maxnumber">
    	        <%-field.FieldName%> must be no greater than <%-field.numberMax%>
  	          </div><%}%>
	        </div>
	        <%_if (typeof field.numberMin === 'number') {%>
	        <div [hidden]="<%-schemaName%>Edit<%-field.FieldName%>.valid || <%-schemaName%>Edit<%-field.FieldName%>.untouched || !<%-schemaName%>Edit<%-field.FieldName%>.errors.minnumber"
     			class="alert alert-danger">
	          <div *ngIf="<%-schemaName%>Edit<%-field.FieldName%>.errors && <%-schemaName%>Edit<%-field.FieldName%>.errors.minnumber">
    	        <%-field.FieldName%> must be no less than <%-field.numberMin%>
  	          </div>
	        </div><%}%>
	      </fieldset>
    <%_ } %>    
