<%if (generateView === 'admin') {%>
<div class="action-buttons">
    <!--<a href="javascript:void(0)" (click)="goBack()"><i class="fas fa-angle-double-left" title="Back"></i></a>-->
    <% if (api.includes("L")) {%><a [routerLink]="['../../list' ]"><i class="fas fa-list" title="List"></i><!--  span>&nbsp;&nbsp;{{ItemCamelName}} List</span--></a><%}%>
    <% if (api.includes("U")) {%><a [routerLink]="['../../edit', detail['_id'] ]" [skipLocationChange]="false" class="btn btn-outline-primary">Edit</a><%}%>
    <% if (api.includes("C")) {%><a [routerLink]="['../../new']" [queryParams]="{cid: detail['_id']}" [skipLocationChange]="false" class="btn btn-outline-primary">New</a><%}%>
    <% if (api.includes("D")) {%><a routerLink="." class="btn btn-outline-primary" (click)="onDelete(detail['_id'], null)">Delete</a><%}%>
</div>
<%}%>