<div class="detail" *ngIf="detail">
	<%if (generateView === 'admin') {%>
	<div class="action-buttons">
		<!--<a href="javascript:void(0)" (click)="goBack()"><i class="fas fa-angle-double-left" title="Back"></i></a>-->
		<% if (api.includes("L")) {%><a [routerLink]="['../../list' ]"><i class="fas fa-list" title="List"></i><!--  span>&nbsp;&nbsp;{{ItemCamelName}} List</span--></a><%}%>
		<% if (api.includes("U")) {%><a [routerLink]="['../../edit', detail['_id'] ]" [skipLocationChange]="false" class="btn btn-outline-primary">Edit</a><%}%>
		<% if (api.includes("C")) {%><a [routerLink]="['../../new']" [queryParams]="{cid: detail['_id']}" [skipLocationChange]="false" class="btn btn-outline-primary">New</a><%}%>
		<% if (api.includes("D")) {%><a routerLink="." class="btn btn-outline-primary" (click)="onDelete(detail['_id'], null)">Delete</a><%}%>
	</div>
	<%}%>
	<div class="card text-left transparent-border ">
	  <div class="grid-fields">
		<div class="card-header grid-head"><%_{
				let view='detail'; let largePicture=true;
				let field = detailView[0]; let fn = field.fieldName; let ft = field.type; let ref_link = true;%>
		  <div *ngIf="detail['<%-fn%>']" class="grid-head-picture mr-5"><% include schema-display.field.html %>
		  </div><%_}%>
		  <div class="ml-1 d-inline-block">
			<h2><%_{
				let view='detail'; let largePicture=true;
				let field = detailView[1]; let fn = field.fieldName; let ft = field.type; let ref_link = true;%>
			  <div class="mr-1 d-inline-block">
				<% include schema-display.field.html %>
			  </div><%_}%>
			</h2>
		  </div>
		</div>
		<div class="card-body"><%_{
			let view='detail'; let largePicture=true;
			let field = detailView[2]; let fn = field.fieldName; let ft = field.type; let ref_link = true;%>
			<div>
			  <h4 class="info-description-text"><% include schema-display.field.html %>
			  </h4>
			</div><%_ }%>
		</div>
	  </div>
	</div>
		<%if (generateView === 'admin') {%>
			<% if (referred) {%>
		<br/>
		
		<ul class="nav nav-tabs">
		  <% for (let ref of referredBy) { let refApi = ref[8];%>
			<%if (refApi.includes("L")) {%><li class="nav-item">
			<a [routerLink]="['./<%-ref[0]%>/list']"
				class="nav-link" routerLinkActive="active"><%-ref[5]%></a>
		  </li><%}%><%}%>
		</ul><%}%>
			<router-outlet></router-outlet>
		<%}%>
</div>
